[2019-08-05 16:54] muvaf opened #3 "GCP: Refactor all managed resource controllers into generic managed reconciler"
Refactor existing GCP managed resources to adopt the latest managed resource controller pattern implemented in crossplaneio/crossplane#603

Part of crossplaneio/crossplane#615

### What seems to be the problem?
We need to eliminate inconsistency around controller patterns in the codebase to have an easily extendible project and easier troubleshooting during the operations.

### What does it look l

[2019-09-05 18:07] muvaf opened #7 "Support enabling Private Service Connections"
### What problem are you facing?

Right now, if you'd like to give access to your CloudSQL instance from your private VPC network, you have to create a _Private Service Connection_ that will peer the network of CloudSQL instance and your VPC. See https://cloud.google.com/sql/docs/mysql/configure-private-ip

However, we don't have that as managed resource.

### How could Crossplane help solve your

[2019-09-05 22:24] negz commented on #7
I believe this requires us to add two new API types and controllers; global addresses and service networking.

https://cloud.google.com/compute/docs/reference/rest/v1/globalAddresses

https://cloud.google.com/service-infrastructure/docs/service-networking/reference/rest/v1/services.connections

In order to plumb GKE to CloudSQL we must:

1. Create a VPC network.
1. Create a subnetwork within said

[2019-09-06 11:23] negz opened #8 "Subnetwork should not update 'network' field"
### What happened?

Subnetworks can be created successfully, but fail when attempting to update with the following error:

[code]

### How can we reproduce it?

Create a subnetwork with the following spec:
[code]

### What environment did it happen in?
Crossplane version:

[2019-09-06 11:23] negz commented on #8
CC @muvaf

[2019-09-06 11:36] negz commented on #8
I also noticed the `privateIpGoogleAccess` JSON struct tag is set to `PrivateIPGoogleAccess` - I fixed that in my branch in order to apply the example above.

[2019-09-06 12:46] muvaf commented on #8
The same happened for `region` and I fixed it in the `Update` call but I don't know why I didn't see that one during the tests. I'll fix it asap.

These things get me thinking of having admission webhook for each resource that is generated to do these checks that CRD validation is not capable of. I think kubebuilder generates webhook but empty ones, maybe we can add our own comment tags on struct

[2019-09-09 09:04] muvaf opened #12 "Validation for possible values of a field"
### What problem are you facing?

In GCP libraries, for many fields it's documented what values that are acceptable in the comments. An example:
[code]

As you see, the type of the field is `string` but one could easily enumerate the possible values.

### How could Crossplane help solve your problem?'

We can have the exact comments in our structs as well (which is already the case for recently im

[2019-09-09 12:49] jbw976 commented on #12
Instead of an admission validation webhook, could this just be done with controller-tools enum validation on the CRDs? e.g.
[code]

[2019-09-10 08:30] negz commented on #12
I'd much prefer to use built in CRD controller-tools and/or CRD functionality over using webhooks, where possible. We may have to embrace webhooks at some point, but they're not straightforward for our users to install; perhaps Stacks could help with this?

[2019-09-10 10:38] muvaf commented on #12
That sounds like a much better option. We can consider investing in admission webhooks for immutability.

Added as a todo to #3

[2019-09-10 10:38] #12 closed

[2019-09-10 22:24] #7 closed

[2019-09-12 11:15] muvaf opened #15 "GCP defaults do not match zero-value of Go structs"
### What happened?

When the value of a field is set to its type's zero value (for `bool`s it's false, for `int`s it's 0 etc.), GCP client doesn't include them in the REST call. When a field isn't included in the REST call, GCP falls back to default value of that setting, which in some cases is not the same with Golang's zero value. For example, CloudSQL `IPv4Enabled` setting's default is _true_ o

[2019-09-13 03:37] negz opened #20 "Stack binary should be named "stack-gcp""
### What happened?

The entrypoint binary for `stack-gcp` appears to be named `crossplane`. This breaks at least the `make run` command, which expects the output binary to be the same as the project name.

### How can we reproduce it?

`make run`

### What environment did it happen in?
Crossplane version:

[2019-09-13 05:26] negz opened #22 "CloudSQL instances in PENDING_CREATE should be considered "Creating""
### What happened?

I noticed when creating a Postgres CloudSQL instance that it seems to start in state `PENDING_CREATE`, which we evidently map to the `Unavailable()` condition. It would probably be more accurate to map it to the `Creating()` condition.

[code]

### How can we reproduce it?

Use the below resource class to create a CloudSQL instance:

[code]

### What environment did it happen i

[2019-09-17 08:59] negz commented on #8
@muvaf Did this get fixed somewhere along the way?

[2019-09-17 17:49] #8 closed

[2019-09-19 12:17] muvaf opened #32 "Refactor GCP Bucket into generic managed reconciler"
Part of #3

[2019-09-19 12:17] muvaf opened #33 "Refactor CloudSQL into generic managed reconciler"
Part of #3

[2019-09-19 12:18] muvaf opened #34 "Refactor GKE into generic managed reconciler"
Part of #3

[2019-09-19 12:21] muvaf commented on #3
It'd have been great if https://github.com/crossplaneio/crossplane/issues/831 was completed before we start working on this but I don't think this should get blocked. We can change the CRs after we converged on a pattern before the next release.

[2019-09-27 16:55] hasheddan opened #36 "Switch claim reconcilers from HasDirectClassReferenceKind to IsManagedKind predicate"
### What happened?
HasDirectClassReferenceKind does not support static provisioning. crossplane-runtime has been updated with a fix, but this stack must be updated. See crossplaneio/crossplane-runtime#28 for details.

[2019-09-27 16:55] hasheddan commented on #36
crossplaneio/crossplane-runtime#33

[2019-09-27 19:13] #36 closed

[2019-10-04 19:45] muvaf opened #43 "GCP CloudSQL and CloudMemoryInstance v1beta1 Quality"
GCP CloudSQL and CloudMemoryInstance should be refactored to use generic managed reconciler and adopt the patterns in https://github.com/crossplaneio/crossplane/pull/840

- [ ] CloudSQL generic managed reconciler refactoring with v1beta1 quality.
- [ ] CloudMemoryInstance API v1beta1 quality.
- [ ] YAML updates in all docs that refer to these two resources.

Part of https://github.com/crossplaneio

[2019-10-04 19:45] muvaf commented on #33
Covered by https://github.com/crossplaneio/stack-gcp/issues/43

[2019-10-04 19:45] #33 closed

[2019-10-16 10:53] muvaf opened #51 "Adopt new external name feature"
### What problem are you facing?

The new version of crossplane-runtime introduced external name annotation that will be used as the source of truth for the name identifier on the provider's systems. By default, managed reconciler takes care of the propagation logic from claim to managed and vice versa.

However, the resources that don't get to choose their name, like `VPC` in AWS, or the ones tha

[2019-10-17 20:49] negz commented on #20
I'm going to close this - I think the issue is more with the make run target.

[2019-10-17 20:49] #20 closed

[2019-10-21 19:44] #43 closed

[2019-10-21 20:10] muvaf opened #53 "CloudSQL: there is currently no way to rotate SSL certificate"
### What problem are you facing?

Currently, CloudSQL connection secret includes the SSL certificate information for clients that want to access it via SSL. However, when the certificate expires GCP requires you to take a manual action and rotate the keys. Details are [here](https://cloud.google.com/sql/docs/mysql/configure-ssl-instance).

If the user takes rotation action on GCP Console, Crosspla

[2019-10-21 20:13] muvaf opened #54 "CloudSQL: read-replica mode with SSL-enabled support"
### What problem are you facing?

CloudSQL can be run in read-replica mode with an external master. Though in order to configure it to talk with master through a SSL connection, one needs to provide the SSL client information generated from the master's certificate. Currently, there is no way to give an SSL certificate as an input to CloudSQL resource.

### How could Crossplane help solve your pro

[2019-10-22 07:44] negz opened #57 "Implement Simple Resource Class Selection for GCP"
### What problem are you facing?

Dynamic provisioning is complicated. See https://github.com/crossplaneio/crossplane/pull/926 for full context.

### How could Crossplane help solve your problem?

Implement the patterns described in https://github.com/crossplaneio/crossplane/pull/926 for the GCP Stack. Specifically:

* Make providers, classes, and managed resources cluster scoped.
* Match classes

[2019-10-23 22:39] #57 closed

[2019-10-30 15:49] hasheddan opened #76 "CloudMemorystore does not test UpToDate logic in ExternalObservation"
### What problem are you facing?

As of https://github.com/crossplaneio/crossplane-runtime/commit/ab3cac0175cece1866404a2e1d2d514f65a81fee the `Observe()` method reports back whether a external resource needs to be updated or not. Therefore, the `IsUpToDate` logic is being checked in `Observe()` rather than `Update()`. When `CloudMemorystore` was moved to `v1beta1`, it started using this pattern,

[2019-11-02 03:53] negz opened #77 "CloudSQL thrashing in constant update loop"
### What happened?

I believe the combination of our v1beta1 logic and cross resource referencing has created issues with the CloudSQL controller. It uses the following logic to determine whether a resource is up to date:

[code]

The problem is that `IsUpToDate` (which _slightly_ predates the CRR work) assumes it can create an exact copy (`currentParams`) of `in` by late initializing an empty `Cl

[2019-11-02 05:09] #77 closed

[2019-11-04 16:50] hasheddan opened #80 "ServiceNetworking Connection reports managed resource being created when it is in error state"
### What happened?

When creating a `GlobalAddress` and a `Connection` that references it, after the `Connection`'s reference to the `GlobalAddress` was resolved, it became stuck in "Managed resource is being created". Upon further investigation, the controller was `Creating` without error being returned, but then unable to find the `Connection` in `Observe`. This is not inherently wrong, as it is

[2019-11-04 17:31] hasheddan commented on #80
As an additional comment, if a new VPC is created, the `Connection` is created successfully. Seems like it has to do with messed up state in an existing VPC.

[2019-11-04 19:18] muvaf commented on #80
Reproduce steps should include a deletion and re-creation of `Connection` resource, right? @hasheddan

[2019-11-05 23:28] hasheddan opened #84 "CloudSQLInstance stuck in FAILED if using private connectivity and Connection does not exist"
### What happened?

When creating a `GlobalAddress`, `Connection`, and `CloudSQLInstance`, I noticed the `CloudSQLInstance` would enter a `FAILED` state and never come out of it. The error was:
[code]

Upon reaching this state the instance had to be deleted and recreated because it was observed as existing but could not be updated.

### How can we reproduce it?

1. Create a `GlobalAddress`, a `Con

[2019-11-06 01:08] soorena776 opened #86 "Add a managed resource for Node Pools, to support more advanced configurations"
### What problem are you facing?

Some of the configurations of the GKE cluster nodes (like pod sandboxing and auto-scaling), are only possible through non-default [Node Pools](https://cloud.google.com/kubernetes-engine/docs/concepts/node-pools). However Node Pools are not currently supported, and when creating a [GKE cluster](https://github.com/crossplaneio/stack-gcp/blob/b3b36293839bf7fdb843b74d

[2019-11-06 01:11] soorena776 commented on #86
increasing visibility: @lukeweber @negz

[2019-11-06 06:44] jbw976 commented on #84
Could you clarify on how the scenario described in this issue differs from the mainline scenarios that our user guides walk people through?

[2019-11-06 13:32] muvaf commented on #84
As long as you allow `Connection` resource to be created before creating the CloudSQL resource, it's fine. Before, network resources were created separately from the claims, so, there was a short period in-between and we didn't see that problem. But now if you just do `kubectl apply -f <dir>` and that dir includes both `MySQLInstance` and `Connection` resources, you might end up in this situation.

[2019-11-06 13:54] hasheddan commented on #84
This was my initial thought was well. However, after talking with @negz he expressed some concerns around building a dependency graph a an eventually consistent system. We may have to get creative with how we want to solve this issue, and maybe the first pass does just look like a `connectionRef` that resolves without setting a configuration value in the `CloudSQLInstance`. These kind of scenarios

[2019-11-06 19:22] hasheddan opened #87 "Implement integration tests"
Part of crossplaneio/crossplane#1033

### What problem are you facing?

Currently, all integration testing is being run in a manual ad-hoc manner. It is desirable to automate this process and run the tests on a more frequent basis.

### How could Crossplane help solve your problem?

Initial implementation should use the framework developed to create tests for a single managed resource, as well as

[2019-11-06 19:36] negz commented on #84
@jbw976 Frankly I'm pretty skeptical that the scenario our guides walk folks through is a use case that exists in the real world. To clarify:

* I believe using GitOps to manage network infrastructure is a real scenario
* I believe using GitOps to manage CloudSQL resources is a real scenario
* I believe the way our guides frame all of this (create everything at once) is a powerful demonstration

.

[2019-11-06 21:30] negz commented on #84
So two options come to mind here. Neither would bulletproof this experience, but both would reduce the the likelihood of a user encountering it. If a `CloudSQLInstance` references a `Network`, the network isn't "ready" as far as the `CloudSQLInstance` is concerned unless it has an active service connection. So:

1. We can infer that a service connection exists by inspecting the `Network` managed r

[2019-11-07 19:09] negz commented on #86
@soorena776 I think adding node pools as a distinct managed resource (e.g. `nodepool.compute.gcp.crossplane.io` as you suggest is the way to go, and most in line with our v1beta1 vision. That said, would it unblock you if we exposed the inline nodepools options as part of the existing `gkecluster.compute.gcp.crossplane.io`? That's likely a lot quicker to get done.

[2019-11-07 19:47] muvaf commented on #84
Option 1 makes sense to me, too. If the name is constant, having it show up on the CR doesn't make a lot of sense. So, I like that option more than the one that adds a reference just to block. Handling the dependency implicitly in the `NetworkURIReferencerForCloudSQLInstance` sounds right.

Though this is still a bug on GCP side. They say _try creating connection_ and we eventually do but CloudSQL

[2019-11-07 19:49] negz commented on #84
FWIW I think this does show up on the API too - at least the CloudSQL instance transitions to state `FAILED` and remains there.

[2019-11-08 20:54] #84 closed

[2019-11-12 21:32] negz opened #91 "Support gVisor enabled GKE clusters"
### What problem are you facing?

As an Upbound infrastructure engineer I'd like to dogfood Crossplane by using it to manage my GKE clusters. These GKE clusters require sandbox, aka gVisor, support per https://cloud.google.com/kubernetes-engine/sandbox/.

### How could Crossplane help solve your problem?

Crossplane could expose the option to enable gVisor support when creating a GKE cluster, e.g.

[2019-11-12 22:42] negz opened #92 "Support network policy enabled GKE clusters"
https://cloud.google.com/kubernetes-engine/docs/how-to/network-policy

### What problem are you facing?

As an Upbound infrastructure engineer I'd like to dogfood Crossplane by using it to manage my GKE clusters. These GKE clusters require network policy per https://cloud.google.com/kubernetes-engine/docs/how-to/network-policy.

### How could Crossplane help solve your problem?

Crossplane could e

[2019-11-12 22:55] negz opened #93 "Support GKE cluster autoscaling"
### What problem are you facing?

As an Upbound infrastructure engineer I'd like to dogfood Crossplane by using it to manage my GKE clusters. These GKE clusters require cluster autoscaling support per https://cloud.google.com/kubernetes-engine/docs/concepts/cluster-autoscaler.

### How could Crossplane help solve your problem?

GKE cloud support configuring cluster autoscaling, per https://cloud.g

[2019-11-12 23:04] negz opened #94 "Support GKE Horizontal Pod Autoscaling"
### What problem are you facing?

As an Upbound infrastructure engineer I'd like to dogfood Crossplane by using it to manage my GKE clusters. These GKE clusters _may_ require horizontal pod autoscaler support, per https://cloud.google.com/kubernetes-engine/docs/how-to/scaling-apps.

### How could Crossplane help solve your problem?

stack-gcp could support GKE HPA, e.g. expose https://cloud.google

[2019-11-18 06:45] jbw976 opened #99 "CloudSQL instance gets inexplicably deleted"
### What happened?

A couple of times this weekend I had a `cloudsqlinstance` managed resource get deleted for no clear reason that I can tell.  The `cloudsqlinstance` was dynamically provisioned from a `postgresqlinstance` claim then after some time the claim still exists but is left pointing to a `cloudsqlinstance` resource that doesn't exist in Kubernetes API nor in GCP.

[code]

### How can we

[2019-11-18 07:02] jbw976 commented on #99
The GCP activity log shows a deletion request for the CloudSQL instance at `05:39:43.811Z`.   The storm of networking issues in the stack-gcp pod ends at `05:38:40.110429 `, so just about 1 min before the deletion happens.

I'd have to think they are somehow related if the instance is up for multiple hours, this networking storm happens and then within 1 minute the database gets deleted. 🤔

[2019-11-18 09:21] muvaf commented on #99
I think https://github.com/kubernetes/kubernetes/issues/65200 is directly related what we're seeing here. By design, we shouldn't be able to have a namespaced-owner(claim) to clusterscoped-dependent(managed resource). The issue tries to address the fact that k8s api accepts requests containing that invalid relation. As far as I see[ this comment](https://github.com/kubernetes/kubernetes/issues/652

[2019-11-18 12:57] tommyknows opened #100 "Error message unclear when name of resource has been in use recently"
Explained in the [Slack Channel](https://crossplane.slack.com/archives/CEG3T90A1/p1574074135264600) already, but I'll summarise it here again:

When using static provisioning (and thus non-random naming) for your CloudSQL Instances, it can happen that the name I'm trying to use has been in use recently, but deleted. The timeframe between "instance is deleted" and "new instance with same name can b

[2019-11-18 13:29] muvaf commented on #99
I have confirmed that cross-namespace `ownerReference` is the problem. Created 2 `PostgreSQLInstance` claims and waited until managed resources come up and running. Then manually removed the `metadata.ownerReferences` from the one of the `CloudSQLInstance` resources. Restarted the minikube, then did `kubectl delete pod --all -n kube-system`; the one with owner reference got deleted but the one wit

[2019-11-18 18:30] soorena776 opened #101 "Support Certificate-based cluster authentication"
### What problem are you facing?

Currently authentication to create GKE clusters are done through [static
username-password](https://github.com/crossplaneio/stack-gcp/blob/master/pkg/clients/gke/gke.go#L98) authentication. This is not a [recommended](https://cloud.google.com/kubernetes-engine/docs/how-to/hardening-your-cluster#secure_defaults) approach, as it doesn't let leveraging RBAC for autho

[2019-11-20 23:51] #99 closed

[2019-11-21 14:02] vadasambar opened #107 "How do I install gcp-stack on minikube?"
I have built my `gcp-stack` image following the [INSTALL.md](https://github.com/crossplaneio/stack-gcp/blob/master/INSTALL.md)

But it ends at `Install` part with TBD. I also tried out installing this using the `crossplane` repo's way (by running scripts under `cluster/local/minikube.sh up`) but there are not scripts under `cluster/` folder.

Will running the built image as deployment do or is the

[2019-11-25 18:44] negz opened #108 "v1beta1 GKECluster and GKENodePool"
Definition of done: GKE support is considered v1beta1.

v1beta1 managed resources comply with our [Managed Resource API Patterns design](https://github.com/crossplaneio/crossplane/blob/8e2ce070cba523ba8fb7c2f0f4cafe1d6a4e5e30/design/one-pager-managed-resource-api-design.md). The CloudSQL and CloudMemorystore controllers are good reference implementations of v1beta1 resources.

The GKE API currentl

[2019-11-25 19:12] hasheddan commented on #107
@vadasambar sorry for just getting to this! You will need to install `crossplane` before installing `stack-gcp` (recommend the instructions [here](https://crossplane.io/docs/v0.5/install-crossplane.html)). If you want to develop locally and you have your kubeconfig set, you can simply run the stack directly `go run cmd/stack/main.go` after installing `crossplane`. Also, the minikube script you are

[2019-11-25 23:38] #100 closed

[2019-11-26 13:10] vadasambar commented on #107
Hey @hasheddan , thank you for the reply!
I had `crossplane` installed on my minikube using the installation guide. I was stuck at `stack-gcp` installation.  I will try out running the stack on the cli.

[2019-11-26 21:35] negz commented on #108
Heads up @soorena776 @turkenh @lukeweber we're planning on adding the functionality you need from GKE (which we believe to be https://github.com/crossplaneio/stack-gcp/issues/92, https://github.com/crossplaneio/stack-gcp/issues/93, https://github.com/crossplaneio/stack-gcp/issues/94. and https://github.com/crossplaneio/stack-gcp/issues/101) by prioritising getting it to v1beta1, which should mean

[2019-11-27 11:33] muvaf opened #109 "Examples for resources without claims"
### What problem are you facing?

We have some resources that do not have a corresponding claims such as network, subnetwork etc. Only end to end tutorials expose them to the users as ready-to-use yaml files.

### How could Crossplane help solve your problem?

Add examples for those resources.

[2019-12-02 20:52] hasheddan commented on #108
Documenting a few of the discussions we have had about supporting v1beta1 GKE and adding support for node pools:

- In order to create a GKE cluster using the gcloud API, you must define a node pool (i.e. you cannot create a cluster with no node pools).
- Node pools can be created inline with the cluster, but cannot be updated using the cluster API.
- A node pool cannot be created without attachin

[2019-12-02 23:29] displague opened #110 "Add support for GCP VM Instances to provide MachineInstance support"
### What problem are you facing?

Since MachineInstance was implemented in https://github.com/crossplaneio/crossplane/pull/942 in support of https://github.com/crossplaneio/crossplane/issues/286, https://github.com/packethost/stack-packet remains the only provider to implement this claim kind.

### How could Crossplane help solve your problem?

GCP VM Instances should be supported for abstracting

[2019-12-03 13:54] vadasambar commented on #107
Hi @hasheddan, do I need to install the CRDs before running the stack directly using `go run cmd/stack/main.go`?

[2019-12-03 16:09] hasheddan commented on #107
@vadasambar Yes! If the stack is installed via a stack package then the CRDs will be installed for you, but if running the controller manager directly locally then you must manually install the CRDs.

[2019-12-03 21:16] muvaf commented on #108
Just a heads-up for other folks, if we go with separate `NodePool` external resource, then it means creating a `KubernetesCluster` claim won't be enough anymore for getting a GKE cluster. The user will have to curate a `NodePool` resource that will be attached to managed `GKECluster` resource since the claim doesn't cover `NodePool`.

We are running into this issue where we need one-to-many relati

[2019-12-03 21:34] negz commented on #108
The main driver for working on GKE v1beta1 right now is unblocking Upbound's W&E team, who want to use Crossplane to deploy GKE clusters that will in turn be used to host Crossplane control planes. Those folks don't need dynamic provisioning, so my thinking was that we'd ship v1beta1 GKE support with separate node pool managed resource (that could not yet be dynamically provisioned) but leave supp

[2019-12-03 22:12] muvaf commented on #108
Oh, so we'll have two versions for `GKECluster` type and different controllers for each. Dynamic provisioning users will use `v1alpha3` but static provisioning users will be able to use either only `va1lpha3 GKECluster` or `v1beta1 GKECluster & v1beta1 NodePool`. I assume `v1beta1 GKECluster` won't have a claim reconciler in that scenario.

That's something new in our codebase but makes sense to m

[2019-12-20 21:24] #91 closed

[2019-12-22 07:59] timstoop opened #117 "Allow adding labels to CloudSQL instances"
### What problem are you facing?
We run in heavily multi-tenant environments (as in, multiple departments from the same company) and it would be really convenient if all resources created can be labelled automatically. This is already possible for the CloudMemorystoreInstanceClass, so I hope it won't be too much of a problem to add to CloudSQL as well.

### How could Crossplane help solve your pro

[2019-12-22 15:47] hasheddan commented on #117
Thanks for opening this @timstoop! I believe that you can currently enable labels on `CloudSQLInstance` with a configuration that looks like:

[code]

Does this fit the use case you are suggesting? It is our goal that all `v1beta1` resource are full fidelity with the configuration options the cloud provider exposes. Therefore, all resources that support labelling should have that capability expose

[2019-12-23 23:30] #108 closed

[2019-12-23 23:30] #94 closed

[2019-12-23 23:31] #93 closed

[2019-12-23 23:31] #92 closed

[2019-12-25 15:40] muvaf commented on #22
Fixed by https://github.com/crossplaneio/stack-gcp/pull/46

[2019-12-25 15:40] #22 closed

[2019-12-25 15:42] muvaf opened #121 "Cloudsql unnecessary updates cause error in status"
### What happened?

During the creation of CloudSQL instance, the following appears as error in the status:
[code]

The reason is we don't skip the update during creation or another update, which is something we do in other resources whose API complains about this.

### How can we reproduce it?

Create a CloudSQLInstance and watch for its status.

### What environment did it happen in?
Crossplane

[2020-01-02 09:15] muvaf commented on #34
Fixed by https://github.com/crossplaneio/stack-gcp/pull/111

[2020-01-02 09:15] #34 closed

[2020-01-03 09:37] vadasambar opened #128 "Kubeconfig in connection secret is not working in the latest (0.4) version"
### What happened?
The kubeconfig in connection secrets seems to be missing `username` and `password` (both of them are empty). When I try to use the kubeconfig locally using cli to access the cluster, I am asked for username and password.
When I looked into config of this cluster in GKE console, `Basic Authentication` was `disabled`.

### How can we reproduce it?
Use `crossplane` 0.6 and `stack-g

[2020-01-03 13:49] hasheddan commented on #128
Hey @vadasambar! Thanks for opening this issue and apologies for any inconvenience you have experienced. I want to make sure I have a good understanding of where you are at in your troubleshooting now following your updates. It sounds like the connection `Secret` generated does have enough information to connect to the GKE cluster (specifically when a `KubernetesApplication` is scheduled to it), b

[2020-01-03 14:00] vadasambar commented on #128
I want a way to connect to the provisioned cluster. It does not have to be `username/password`.

[code]
I will try this. Thank you!
I could not find anything related to this in the release notes nor the documentation. I came across this just a while before I read your reply.

[2020-01-03 14:06] vadasambar commented on #128
I do get the cert fields populated now. Thank you!

But when I used the raw kubeconfig in cli (I wrote it to `config` file)
[code]

[2020-01-03 14:10] vadasambar commented on #128
Thread on slack around this issue: https://crossplane.slack.com/archives/CEG3T90A1/p1578059370045600

[2020-01-03 15:50] muvaf commented on #128
As far as I understand, there are 3 ways to authenticate to a GKE cluster (please correct me if I'm wrong):
* Basic auth: simple username and password.
  * We do not support this for now until we have `Secret` input, which should be available in the short term.
* Client cert: a user with almost no permission.
  * I run into this when I manually create the GKE cluster from the console as well, so,

[2020-01-03 20:16] negz commented on #128
I'm fairly confident this isn't the case, unfortunately. The cluster doesn't actually have knowledge of what users exist - it typically defers to some external authentication system for that. For example the CN of any valid auth certificate will be used as the username when cert auth is in use.

[2020-01-03 23:17] prasek opened #130 "storage buckets to v1beta1"
### What problem are you facing?
Would like a v1beta1 version of storage buckets

### How could Crossplane help solve your problem?
Move storage buckets to v1beta1 standards

[2020-01-03 23:18] prasek opened #131 "GCP networking resources to v1beta1"
### What problem are you facing?
Would like a v1beta1 version of networking resources

### How could Crossplane help solve your problem?
Move networking resources to v1beta1 standards

[2020-01-04 00:26] #128 closed

[2020-01-06 06:38] vadasambar commented on #128
Slack thread about discussion around the fix: https://crossplane.slack.com/archives/CKXQHM7U3/p1578063791101100

[2020-01-06 12:37] muvaf commented on #128
Yes this seems to be the case, one more thing to learn for me. Thanks!

[2020-01-06 18:44] muvaf opened #135 "GCP Ingress controller implementation"
### What problem are you facing?

Implementation of GCP Ingress resource controller is missing.

Part of https://github.com/crossplaneio/crossplane/issues/1123

[2020-01-06 18:58] #121 closed

[2020-01-07 16:38] muvaf commented on #15
I am refactoring storage bucket currently and I see that they have a generated library just like cloudsql but also a higher level library where they interact with that generated one. In that higher level library, there are pointer types for optionals just like our CRDs. But what I noticed, the conversion methods they use is like the following:
[code]
and in some cases
[code]

Today we simply do:
[

[2020-01-09 23:11] hasheddan opened #138 "GCP BucketPolicyOnly Error on Provisioning"
### What happened?

When creating a `Bucket` on GCP, validation error occurs on the managed resource when the`bucketPolicyOnly` field is set. This is due to the `lockedTime` (`metav1.Time`) sub-field of `bucketPolicyOnly` having a zero value of `null` rather than `""`.

### How can we reproduce it?

1. Create a GCP `BucketClass` with `bucketPolicyOnly` defined.
2. Create a `Bucket` claim that refe

[2020-01-10 13:49] muvaf opened #139 "BucketAccessControl managed resource implementation"
### What problem are you facing?

GCP Buckets allow access to buckets and specific objects through [BucketAccessControl](https://cloud.google.com/storage/docs/json_api/v1/bucketAccessControls) object. You can define this object on [Buckets](https://cloud.google.com/storage/docs/json_api/v1/buckets) API object as well but in Crossplane, we respect the resource separation decisions of the cloud prov

[2020-01-14 18:52] hasheddan commented on #87
Fixed by #96

[2020-01-14 18:52] #87 closed

[2020-01-24 01:52] lukeweber opened #148 "GCP: Add DNS, SSL, and Ingress support"
### What problem are you facing?

Integration of dns, ssl, and ingress in crossplane. I've added these as one ticket as they are often related.

If I configure the dns, I can provision certs with a major provider, and by extension I can associate those certs with a load balancer.

Although this can be supported somewhat with self-service by applying externaldns, and cert-manager to a kubernetes ta

[2020-01-24 02:12] suskin opened #149 "GCP CloudSQL: Proxy connections"
### What problem are you facing?

This is related to connecting to CloudSQL instances from an application managed by Crossplane.

@ichekrygin and I were talking about different connectivity models for accessing CloudSQL instances from managed applications, and I want to capture some of the notes from that discussion. Maybe it makes sense to turn this into a one-pager in the future. This is all ear

[2020-01-31 16:28] dsyer commented on #149
Until Crossplane has a fully baked solution for this can I suggest that we just add the connection string to the generated secret and document it? The sample here is broken until that gets fixed really: https://github.com/crossplaneio/crossplane/blob/master/cluster/examples/wordpress/gcp/wordpress.yaml (it uses the IP address "endpoint" not the full connection string). At least it's broken for an

[2020-01-31 17:06] dsyer opened #154 "CloudSQLInstanceClass specTemplate.writeConnectionSecretsToNamespace should not be mandatory"
The `CloudSQLInstanceClass` is being created in a namespace - isn't that a reasonable default for the `writeConnectionSecretsToNamespace`?

[code]

[2020-02-03 14:04] dsyer opened #157 "Re-using a GCP CloudSQLInstance"
There are potentially 2 separate use cases here:

* I would like to be able to bind to a SQL instance that already exists.

* I would like to be able to use Crossplane to create a SQL instance, and then have it re-used by multiple claims (e.g. I deploy the same app twice).

The objective is just to save time waiting for the resource to be created. I don't want to wait 5 minutes every time I start

[2020-02-03 14:10] dsyer opened #158 "Expose the connectionName for a CloudSQLInstance"
When you bind to an SQL instance using `CloudSQLInstance` you get a secret with useful things like "username", "publicIP", and "password". Generally speaking you get hold of that secret either directly, if it is in your namespace, or via a "claim" (implemented as a `MySQLInstance`), which causes the secret to be copied into its own namespace.

What the secret does not contain is the magic GCP conn

[2020-02-03 14:31] muvaf commented on #149
@dsyer Would exposing `status.atProvider.connectionName` alongside the existing ones in the connection secret be enough to satisfy your use case?

The Wordpress example is intended to be used in a private network. That's why it instructs you to create a network, subnetwork etc. If you'd like to use the `CloudSQLInstance` from an app that is outside GCP, another option besides proxy is to expose `C

[2020-02-03 14:48] dsyer commented on #157
Another interesting use case - 2 apps want to connect to the same database. Currently they have to be in the same namespace in order to share a secret? Is that the only way that pattern will work?

[2020-02-03 15:05] dsyer commented on #149
Yes.

I think `ipConfiguration.ipv4Enabled=true` is the default. At least it doesn't behave any differently for me. You get a public IP address, but you can only connect to it though the `connectionName`.

[2020-02-03 15:45] muvaf commented on #149
I am not sure. As far as I remember, the default is false. The IP you're getting is probably the private in-VPC IP. You should be able to see the IP addresses and their properties under status or on GCP console to see which one is private/public.

[2020-02-03 15:50] dsyer commented on #149
It's public by default - at least that's what I see. But you can't connect with a regular mysql client, only the proxy (unless you authorize your client's network explicitly).

[2020-02-03 16:03] muvaf commented on #149
@dsyer https://github.com/crossplaneio/stack-gcp/pull/159 this should at least make it easier for you to consume the `connectionName` but I don't have much context around how CloudSQL proxies work.

Do you think @negz is exposing only `connectionName` enough to fix this issue for all CloudSQL proxy connection scenarios?

[2020-02-03 21:32] hasheddan commented on #158
Thanks for opening this issue @dsyer! @muvaf provided a fix (#159) for it this morning that is now available on `master`

[2020-02-03 21:32] #158 closed

[2020-02-03 21:34] hasheddan commented on #117
@timstoop I am closing this issue, but please feel free to reopen if you think additional functionality is required.

[2020-02-03 21:34] #117 closed

[2020-02-03 21:35] hasheddan commented on #86
I believe this issue has been fixed by #114

[2020-02-03 21:35] #86 closed

[2020-02-04 08:22] timstoop commented on #117
Apologies for not replying sooner. I was wondering why it's `userLabels` here, while for instance for memoryStores it's just `labels`. Is there a reason why it doesn't just use `labels`?

[2020-02-04 10:12] muvaf commented on #157
I've tried to reproduce this but failed. I used the following YAML and it created the secret referred in `spec.writeConnectionSecretToRef` and it does contain the password. Could you try with that config?
[code]

I believe this is a valid concern. I've opened https://github.com/crossplaneio/crossplane/issues/1229 for a different thing but it'd solve your use-case, too. It'd be great if you could u

[2020-02-04 10:15] muvaf commented on #157
Currently, yes, that's the consumption model. The k8s secret has to live in the same namespace as the app. You should either deploy the app to the namespace where your claim lives or to the namespace where you specify your secret ref in `CloudSQLInstance` resource. They are same secrets.

For `KubernetesCluster` claim, we have `KubernetesTarget` kind to propagate the kubeconfig secret to different

[2020-02-04 10:47] dsyer commented on #157
I believe I probably already did, up to a point. Your config has `reclaimPolicy=Delete` though which doesn’t make sense if it’s an existing resource, does it? Am I missing something, or did you actually try this with an existing instance called “mycloudsql”?

[2020-02-04 10:54] muvaf commented on #157
I simply created this resource in a fresh cluster and looked at the content of the secret with `kubectl get secret conn-secret-name -n default -o jsonpath='{.data.password}' | base64 -d`

Since I created this manually and don't need a claim, `reclaimPolicy` is not really important. All `reclaimPolicy` does is to decide what happens to `CloudSQLInstance` when you delete `MySQLInstance` that it's bo

[2020-02-04 10:58] dsyer commented on #157
That’s not an “existing resource” then is it? It was created by crossplane.

[2020-02-04 11:21] muvaf commented on #157
@dsyer Just checked the codebase again and you're right. I thought we changed the how `reclaimPolicy` works but it seems we just added a new functionality. So, right now, `reclaimPolicy: Delete` causes two things:
* Delete actual resource in GCP when `CloudSQLInstance` is deleted.
* Delete `CloudSQLInstance` when `MySQLInstance` that it was bound is deleted.

I remember discussing making the first

[2020-02-04 11:24] muvaf commented on #154
@dsyer In Crossplane, all managed resources (`CloudSQLInstance` in this case) and resource classes like `CloudSQLInstanceClass` are cluster-scoped. So, they are not created in a namespace. See https://github.com/crossplaneio/stack-gcp/blob/master/config/crd/database.gcp.crossplane.io_cloudsqlinstanceclasses.yaml#L27

That's why it requires a namespace because otherwise it'd not know which namespac

[2020-02-04 11:50] dsyer commented on #157
I guess I could. I would have to script it on the client side (using kubectl or similar) and it would be fragile and non-declarative. The whole point of this issue was to try and avoid doing that kind of thing. The basic idea that a database lives longer than an app has yet to be addressed in crossplane, I think.

[2020-02-04 11:57] dsyer commented on #154
Got it. I don't think I realized that the `CloudSQLInstance` and `CloudSQLInstanceClass` don't have a namespace. I didn't even realize that was possible. Maybe it would be good to point that out in the API docs for `writeConnectionSecretsToNamespace` and `writeConnectionSecretToRef`?

[2020-02-04 13:13] dsyer commented on #158
Stupid question: how do I consume master? Are you publishing manifests and images somewhere?

[2020-02-04 13:56] hasheddan commented on #158
@dsyer you may specify master or a version tag in the package field of your stack install. For using master of stack-gcp, see this [manifest](https://github.com/crossplaneio/stack-gcp/blob/master/examples/stack-gcp.yaml).

[2020-02-04 14:28] dsyer opened #163 "Expose the projectId for a CloudSQLInstance"
I guess it might be useful for nearly all GCP objects, but `CloudSQLInstance` is the one I am interested in for now. Currently I need the project ID occasionally in application configuration, and the only way to get it is to hard code it somewhere. It is always available to crossplane when it creates the secret, so it could just be included as its own key.

[2020-02-04 16:04] muvaf commented on #154
API reference docs are auto-generated. You can find detailed explanation here https://crossplane.io/docs/v0.7/api/crossplaneio/crossplane-runtime/core-crossplane-io-v1alpha1.html#classspectemplate

We're planning more comprehensive documentation about the common fields between resources and that will likely end up there.

[2020-02-04 16:04] #154 closed

[2020-02-05 07:57] dsyer commented on #157
FWIW Google Config Connector has a `SqlUser` CRD that you can use in this scenario to set the username and password in the SQL instance. I don't know if that's really necessary - it could just go in the `MySQLInstance` in crossplane.

[2020-02-05 12:17] muvaf commented on #157
I see that `User` is a [standalone API object](https://cloud.google.com/sql/docs/mysql/admin-api/rest/v1beta4/users#User), meaning we will likely have a CRD for that type in Crossplane, too.

In current phase, we're working towards enabling key scenarios and going deep on quality of common pieces so that Crossplane fits the high level needs of the users rather than be just an abstraction on top of

[2020-02-07 14:17] timstoop opened #164 "CloudSQLInstance keeps modifying the instance"
### What happened?
After creating a CloudSQLInstance, the system keeps trying to make modifications to it. This can be seen in the console itself (the instances are perpetually in a state of being modified) and in the `state.atProvider.settingsVersion`, which keeps incrementing every few seconds. Sadly, there's nothing logged in stack-gcp or the other crossplane Pods that give any indication what

[2020-02-07 14:19] hasheddan commented on #164
@timstoop thanks for providing such a detailed description! I have self-assigned this issue and will make sure to follow-up here 👍

[2020-02-07 14:25] timstoop opened #165 "Please allow for more verbose logging"
### What problem are you facing?
It would be nice if logging verbosity could be increased, at least to the level that it shows for each action what it's trying to do. This would also help in providing more information for bug reports, for instance, for my last bug report #164, it's impossible for me (ot at least not documented) how I should go about making stack gcp log what it's actually trying t

[2020-02-07 14:48] displague commented on #165
Some Slack conversation about this is available here.

Notably, the `--debug` option that can be sent to the stack-gcp controller can be added by editing the Stack's deployment (once it is deployed).  `kubectl edit -n crossplane-system deployment stack-gcp-controller` and added args to the `containers:` block under spec/template/spec/containers:

[code]

Making this change after install can be cum

[2020-02-07 14:51] vasartori commented on #164
@hasheddan To add more information:
On stackdriver logging, a lot of this errors are raised:
[code]

[2020-02-07 15:06] timstoop commented on #165
Just to point out, adding the --debug outputs a lot of lines, but none of them are really useful for the problem I was debugging.
[code]
Unless there are more options I could add that would show the API call it's sending?

[2020-02-07 15:32] hasheddan commented on #165
Adding some context here with a new observability guide that was recently added to our docs: https://crossplane.io/docs/master/observability-developer-guide.html

/cc @negz for theory behind logging strategy

[2020-02-07 21:59] hasheddan commented on #164
I have been working through this issue, which is being caused by our late initialization behavior, and I have discovered that the problem is not how we are doing late initialization, our functionality there actually makes sense. If we removed the current functionality we would end up setting fields in the `spec` of our managed resources to `""` and other zero values. The problem is rather that we

[2020-02-08 20:32] muvaf commented on #164
@hasheddan Great summary, thank you!

One thing about json comparison is that by nature JSON is unordered. So, the marshal operation will probably give you the results in a specific order but it won't guarantee that, especially when the diff is large. So, we need to use an ordering option on `cmp` or something like `Equate..`(we have something similar somewhere).

[2020-02-08 21:37] muvaf commented on #164
`cmp.Equal` will treat the marshaled JSONs as `[]byte` and it doesn't seem like it has a special mechanism to actually see that they are JSON. I'm almost sure that there is no way to provide a reliable `Option` for that type's comparison, since it's pretty much raw data and this would lead some false positives when the ordering of the keys change while their name or value stay the same.

Also our

[2020-02-08 23:25] hasheddan commented on #164
@muvaf thanks for diving into this more! I think what you are proposing here is a *drastically* better solution. I'll do some experiments here and open up a preliminary PR for your review :)

[2020-02-10 20:23] prasek opened #169 "Need to bump stack-gcp version in app.yaml to match released versions"
### What happened?
Crossplane getting started docs shows stack-gcp version as v0.5.0 for the helm chart:

![image](https://user-images.githubusercontent.com/284840/74186678-e3464b80-4bff-11ea-8cd2-9df98ae6bc2e.png)

But the stack version in https://github.com/crossplaneio/stack-gcp/blob/15ff8c6d8fc7a82956d1e57bf71981a1da3f281e/config/stack/manifests/app.yaml#L24 is 0.0.1 in the app.yaml.

### What

[2020-02-10 20:58] prasek commented on #169
actually the versions are changed when release branches are cut and deployed up to docker via the deploy process, so the versions in app.yaml should never change in the master branch.

[2020-02-10 20:58] #169 closed

[2020-02-12 00:39] #164 closed

[2020-02-12 19:35] negz commented on #157
I don't think we should allow a _managed resource_ like a CloudSQL instance to be reused. That said, there are some bugs pointed out in this issue that need addressing.

Here's some background on why our reclaim policies are how they are: https://github.com/crossplaneio/crossplane-runtime/pull/87#issuecomment-555747586. This is all modelled on [persistent volumes](https://kubernetes.io/docs/concep

[2020-02-12 20:22] #80 closed

[2020-02-12 20:25] negz commented on #165
We don't quite log every API call, but we increased the amount of debug logging for stack-gcp in https://github.com/crossplaneio/stack-gcp/pull/142. You can see the new logs and events, and more importantly Kubernetes events, if you run the master build of this stack, or wait for next week's release. Please let us know whether they seem useful!

[2020-02-12 21:44] dsyer commented on #157
I'm kind of confused by this question. Probably I'm missing something, and haven't understood the abstraction. Can you provide an example? Can I bind the same database to 2 apps? Or delete an app and re-create it and bind to the same database? Or create a new version of an app and bind to the old database during a transition period? All of those seem like valid choices.

[2020-02-13 01:30] negz commented on #157
Sure. At risk of over-communicating, there's a few concepts in play here.

* Managed resources, for example a `CloudSQLInstance`. These may be manually created in advance by an infrastructure operator (i.e. SRE type) for an application operator (i.e. developer type) to later claim and bind. They may also be created on demand by leveraging a resource class that describes how they should be dynamica

[2020-02-15 20:07] hasheddan opened #173 "Enable Workload Identity for provider-gcp when running on GKE"
### What problem are you facing?

Currently, credentials for `provider-gcp` to authenticate to the GCP API are manually provided as a Kubernetes `Secret`. While this is a viable short-term solution, this [post](https://cloud.google.com/blog/products/containers-kubernetes/introducing-workload-identity-better-authentication-for-your-gke-applications) from GCP describes the shortcomings of this techn

[2020-02-15 20:12] hasheddan commented on #173
Related: https://github.com/crossplaneio/crossplane/issues/1098

[2020-02-17 14:14] hasheddan opened #175 "Cannot delete Network switched from Auto to Custom mode"
### What happened?

If you choose to modify the `Network` and make it `autoCreateSubnetworks: false` when it was previously `autoCreateSubnetworks: true` (i.e. go from `Auto` to `Custom`), you cannot delete the `Network` because there were many subnetworks provisioned at creation, and it is no longer an `Auto` network. In order to delete, we would need to go through and delete each subnetwork.

Re

[2020-02-17 14:19] hasheddan opened #176 "Convert referencer tests to table-driven"
### What problem are you facing?

Currently some of our cross-resource referencers are tested in a manner that is not consistent with the table-driven style in the rest of the code base.

Example of not table-driven: https://github.com/crossplaneio/stack-gcp/blob/c6bff364ca4753c03f44ff043550cc80859169f8/apis/compute/v1alpha3/gkecluster_types_test.go#L32

Example of table-driven: https://github.com

[2020-02-17 14:27] hasheddan opened #177 "Consider moving "late init then update" functionality to client pkgs"
### What problem are you facing?

Currently, managed resource reconcilers [late initialize]() spec parameters, then check for any differences with the current spec, and update the object if so.

Ref: https://github.com/crossplaneio/stack-gcp/pull/151/files#r376232888

This type of comparison usually lives in the `client` pkg rather than the controllers themselves.

### How could Crossplane help so

[2020-02-17 20:52] #131 closed

[2020-02-20 15:35] muvaf opened #184 "Implement cloud provider level tagging for CloudSQL"
### What problem are you facing?

Per https://github.com/crossplane/crossplane/pull/1129 , API patterns suggest that we add labels/tags on the external resource on cloud provider level to increase observability.

### How could Crossplane help solve your problem?

Implement this pattern for CloudSQLInstance so that it serves as example for other resources.

[2020-02-20 15:36] muvaf commented on #54
Per https://github.com/crossplane/crossplane/pull/1129 , we have defined how sensitive inputs should be handled. Implementing this issue would serve as an example.

[2020-02-20 17:07] hasheddan commented on #184
@muvaf are you planning on implementing this in the short-term? If not, it might by a good candidate for `good first issue` :)

[2020-02-21 09:50] muvaf commented on #184
@hasheddan I think I'd like us to implement one example of this, maybe with some changes introduced in crossplane-runtime, because there is some ambiguity about how we'd tackle this in the code. Then we can point to that as example and implementing a similar thing in other resources could be easier and more straight-forward `good first issues`.

[2020-02-21 15:50] soorena776 opened #185 "Support Node Pool in GKEClusterClass"
### What problem are you facing?

`GKEClusterClass` is very powerful, in that it enables the user to provision a specific class (tier) of a GKE cluster by just creating the corresponding `KubernetesCluster` claim. In the other hand, Node Pools are one of the most powerful components to customize a given GKE cluster. However in `v1beta1` version of `GKEClusterClass` it is not possible to leverage N

[2020-02-21 15:51] soorena776 commented on #185
/cc @hasheddan @negz

[2020-02-21 16:46] hasheddan commented on #185
@soorena776 Thanks for raising this issue! Unfortunately I do not foresee that we will include `NodePool` provisioning in the `v1beta1` `GKEClusterClass`. I do think it could be feasible to add a new `NodePool` claim type, but the most likely scenario is that this issue is resolved by something like the designs proposed in https://github.com/crossplane/crossplane/pull/1163

[2020-02-21 16:56] soorena776 commented on #185
Thanks @hasheddan! This is not a blocker, and I can work around this with some code in my app.

[2020-02-21 16:59] soorena776 opened #186 "Node Pool instance upgrading: Status `Ready` should not be `true`"
### What happened?

After upgrading the spec of an already existing `NodePool` instance, the `Ready` condition still equals to `true` even though the external resource is upgrading, and the reconciliation is failing:

[code]

### How can we reproduce it?

- Create a NodePool
- Update NodeConfig in the api object
- Observe the CR status

### What environment did it happen in?
Crossplane version: v0

[2020-02-21 17:19] hasheddan commented on #186
@soorena776 this is an interesting case because the node pool is in the state that GCP refers to as `Reconciling`. We currently do not mark this as `Unavailable` in either the `GKECluster` or `NodePool` types. It is not abundantly clear to me that these resources should be marked as `Unavailable` since I *think* they are still usable when in this state. If I am correct in that, I think the `Synced

[2020-02-22 21:47] soorena776 opened #188 "Support previous versions of the same CRD"
### What problem are you facing?

When upgrading stack-gcp from `v0.4.0` to `v.6.0.` some of the existing resources are not supported. For instance, the following network resource that already exists:

[code]

is no longer supported (e.g. `apiVersion: compute.gcp.crossplane.io/v1alpha3` does not exist in stack-gcp `v0.6.0`).

### How could Crossplane help solve your problem?

Keep all the previous

[2020-02-23 20:39] soorena776 opened #189 "NodePools: Orphan NodePool resources keep status as `Running`"
### What happened?

After provisioning a `NodePool` for an existing `GKECluster`, I deleted the GKECluster resource (which subsequently deleted the gke cluster instance). However the `NodePool` resource still has the `Running` status:

[code]

The expectation is that the status should show `ERROR` or `STOPPING`, otherwise any downward resource that consumes this node-pool will have issues. It look

[2020-02-23 20:43] hasheddan commented on #189
@soorena776 I believe this is the same issue detailed here: https://github.com/crossplane/crossplane-runtime/issues/78. I’ll look into getting that prioritized 👍

[2020-02-25 12:54] timstoop opened #191 "Add ability to create GCP ServiceAccounts"
### What problem are you facing?
We would like to easily create ServiceAccounts from within the (non-GKE) Kubernetes cluster running on GCE. This is more or less equivalent to the IAM resource in the AWS stack.

### How could Crossplane help solve your problem?
Allow for the creation of ServiceAccounts from a CrossPlane resource.

I imagine that this does bring along some security risks, however,

[2020-03-05 22:58] soorena776 opened #197 "Subnetwork should support importing existing subnetwork resource"
### What problem are you facing?

When I create a new `Network` type in GCP, it uses the existing network without any issues. However, creating a new `Subnetwork` fails if that subnetwork exists.:
[code]

### How could Crossplane help solve your problem?

Would it be possible to make the subnetwork use the existing resource? This is handy when multiple resources are using the same subnetwork, but

[2020-03-11 16:42] #184 closed

[2020-03-30 17:55] infinitecompute opened #206 "Additional GCP managed resources"
### What problem are you facing?

We are gathering community feedback to help us prioritize development of additional GCP managed services and maturing of existing service implementations.
* What are the most important GCP services for you?  Please share your service list in the comments.
* What are your use cases?  This will help us understand how to best support your situation.
* Would you be in

[2020-03-30 22:28] negz opened #207 "Support backup and restore of all GCP managed resources"
### What problem are you facing?

When a managed resource is backed up and subsequently restored using a tool like https://velero.io the newly restored managed resource should resume reconciliation of the external resource that was created by the backed up resource. This should be true for all GCP managed resources that support the `crossplane.io/external-name` annotation. This annotation set and/

[2020-04-02 18:53] #207 closed

[2020-04-02 23:15] prasek opened #210 "connect failed: cannot create new Sqladmin Service: invalid character '1' looking for beginning of object key string"
### What happened?
1. installed crossplane v0.9, provider-gcp v0.7.0, stack-minimal-gcp v0.3.0, app-wordpress v0.2.0
1. created MySQLInstance claim in namespace
1. get the following on CloudSQLInstance

[code]

### Details
[code]

[code]

[2020-04-02 23:21] prasek commented on #210
same error in a different environment:
[code]

[2020-04-03 00:14] hasheddan commented on #210
This is due to a stray `1` in the base 64 encoded credentials of the `Secret` referenced by the `Provider`. Updating the secret with valid credentials should solve this issue :+1:

[2020-04-03 00:15] #210 closed

[2020-04-13 16:58] prasek opened #219 "Provide self-contained readme overview / getting started in app.yaml and readme.md"
### Problem
Getting started can be challenging without an overview and basic getting started steps. Having the overview and getting started docs self-contained in the repo's readme.md and the app.yaml ensures that as changes are made in a given repo, the docs can be updated in the same PR, and that published stacks can be self-documenting. Over time this getting started content can be aggregated b

[2020-04-15 23:36] #191 closed

[2020-04-21 22:51] prasek opened #222 "googleapi: Error 400: Cluster.name must be less than 40 characters -- when using long namespace name"
### Problem
Created a `KubernetesCluster` claim in a namespace with a long name and got this error:
[code]
Using:
 - Wordpress v0.3.0
 - GCP Provider v0.8.0
 - GCP Sample Stack v0.4.0
 - Crossplane 0.10.0-rc.49.gae92a62

### Expected
Provider GCP should truncate to a smaller random name as needed by the google API.

### Details
`WordpressInstance`
[code]

`KubernetesCluster`
[code]

`GKECluster`
[

[2020-04-21 23:30] negz commented on #222
@prasek We actually actively avoid taking that approach. In short, it's tough to keep up with the various (and sometimes changing) requirements of names and other cloud provider fields, so we take the approach of letting you provide an invalid value and returning the error from the cloud provider so that you can fix it.

I suggest we focus on making sure the error from the cloud provider is discov

[2020-04-22 01:40] prasek commented on #222
would it make sense for the `Reconciler` to default to a shorter auto-generated default `crossplane.io/external-name` in [configurator.go#L65](https://github.com/crossplane/crossplane-runtime/blob/bc4cf8607708b3eaa611ddc7791f3ad0d963c1c6/pkg/reconciler/claimbinding/configurator.go#L65) which uses `{claim-namespace}-{claim-name}-{random-string}` if `crossplane.io/external-name` isn't specified on t

[2020-04-22 08:05] glerchundi commented on #206
For our use case, these resources would be the bare minimum in order to start thinking on using Crossplane:

- Google Cloud Pub Sub
- Google Cloud Run
- Google Cloud Load Balancing‎

Great work by the way!

[2020-04-22 10:01] muvaf commented on #222
This has been brought up during GCP `ServiceAccount` implementation as well, which allows only max of 30 characters as name.

I think the problem here is that the decision of the namespace and/or name of the claim is not made with what services that the user is going to use in mind and that sounds reasonable to me. For example, in this case I see that the namespace is chosen to enumerate a test ru

[2020-04-22 21:15] negz commented on #222
This sounds like it's pretty much putting the onus on each managed resource developer to keep up with the quirks and restrictions of the API. I'd prefer to downplay the assumption that we can generate an appropriate name for your resource altogether, and encourage more use of the `crossplane.io/external-name` annotation to give resource authors explicit control over what their resources will be na

[2020-04-22 21:26] negz commented on #222
I don't really see how this impacts portability, unless we're saying portability is impacted because it's asking for a cluster name and there may be no cluster at all.

Another simple approach here would be for the app (i.e. wordpress) to hold an opinion around the external names of the resources it generates. i.e. Have derive an external-name annotation from what it knows about itself, perhaps si

[2020-04-23 10:58] hasheddan commented on #206
Thanks @glerchundi :) We will make sure to keep this in mind as we add new resource types!

[2020-04-23 18:53] rathpc commented on #222
I just ran into this issue as well trying to spin up a wordpress instance while testing. It would be really nice if truncation was just automatically handled

[2020-04-23 19:13] muvaf commented on #222
That's correct and I mean developer knows this information or at least it's pretty easy to find and I don't think that's a problem like spec fields because I don't expect validation rule of a resource name ever change.

Honestly, I can't figure out a better argument than this. I would say if folks don't feel comfortable about it, then let's document that annotation really well and look for user fe

[2020-04-25 00:23] negz commented on #222
Random followup thought - if we _do_ end up trying to go with some kind of truncation at the managed resource level I don't think we should naively trim the right side of the string before the random suffix. As @kasey recently pointed out our generated names flow from least to most specific (does this make them big endian?) - i.e. `namespace-name-random`. This makes sense for Kubernetes names beca

[2020-04-27 21:10] muvaf commented on #222
Yeah, that makes sense.

[2020-04-27 21:24] muvaf commented on #222
@negz I don't think we should pursue this way as it requires casting to a specific error which may not be easily classifiable in that SDK or would be very specific to individual managed resources. Also `Create` call will have one more added complexity to check the error propagate the result back to annotation. Max length of a managed resource is well-documented and it's a standard across managed r

[2020-04-27 22:04] muvaf commented on #222
@negz Realized that the [`NameAsExternalName`](https://github.com/crossplane/crossplane-runtime/blob/b9255d7/pkg/reconciler/managed/api.go#L42) doesn't know about the namespace to do the dropping. It can derive it via `mg.GetClaimReference()` but that will go away if it's a part of a composition since the only thing on managed resource that points to the bound composite resource is an owner refere

[2020-04-27 22:09] muvaf commented on #222
On another note, if we deferred all that to app developer, we will need to make some changes in templating-controller to make Wordpress work because helm random generators won't help since we run `helm template` in each reconcile, which will generate a new random and override the existing one. Maybe a place holder in the annotation of `KubernetesCluster`:
[code]
and templating controller would gen

[2020-04-27 22:42] negz commented on #222
Another approach that would reduce the likelihood of a name overflow would be to simply stop including the namespace in the `metadata.generateName` of the managed resource in the first place. It really only makes it a little visually easier for humans to associate the managed resource with the claim that dynamically provisioned it. If we just used the claim name we'd still be better than dynamical

[2020-05-01 23:18] prasek opened #226 "CloudSQLInstance stuck in ready:false with reason: not ready for use"
CloudSQLInstance stuck in ready:false with reason: not ready for use

Using Crossplane v0.10 and related packages.

[code]

With underlying error from GCP console:
[code]

But the `Connection` shows
[code]

<details><summary>Full Resources</summary>

[code]

[code]
</details>

[2020-05-01 23:25] jbw976 commented on #226
that error message mentioned subnetwork is what failed, what's the status output of that object look like?

[2020-05-01 23:51] prasek commented on #226
think it's the connection, the subnet looks ok:

<details><summary>subnetwork</summary>

[code]
</details>

[2020-05-01 23:57] prasek commented on #226
and underlying VPC peering look ok:
![image](https://user-images.githubusercontent.com/284840/80849600-af5e3f00-8bcc-11ea-8396-a557019dc8c6.png)

[2020-05-02 00:13] prasek commented on #226
Deleting the `MySQLInstance` claim and letting app-wordpress re-create it solved the issue. Would be nice for Crossplane to detect this and try deleting and recreating the underlying managed resource, when these terminal error conditions are encountered.

[2020-05-07 22:39] muvaf commented on #222
@negz Sounds good, dropping the namespace completely would decrease the number of cases we hit the limit. But I'd still prefer to have the max length truncation in the external-name generator of the managed resource. The number of cases we hit the maximum is decreased by dropping the namespace but making sure it doesn't fail when **we** are the generator of the external-name still sounds like a mo

[2020-05-12 01:57] muvaf opened #227 "Not possible to create multiple GKEClusters when using Class/Composition"
### What happened?

I have a `GKEClusterClass` that refers to a specific `Network`. In GCP, each `GKECluster` has to have a `masterIpv4CidrBlock` that must not overlap with any other `GKECluster` in the same `Network` because `masterIpv4CidrBlock` is valid in the whole `Network`; not like services or pod CIDR blocks that are valid in-cluster.

If I set a value for `masterIpv4CidrBlock` in `GKEClus

[2020-06-01 09:37] turkenh opened #235 "Long Provisioning Time with gVisor Enabled Nodepools"
### What happened?

GKE Cluster provisioning takes very long time (around 45 mins) with Crossplane, however, it is much shorter (5-10 mins) when I try from GCP console. I believe the difference is because, with GCP console path, I can configure nodepools while creating the cluster,  however with Crossplane*, cluster is created without gVisor first and then gVisor enabled nodepools added to the clu

[2020-06-01 11:38] hasheddan commented on #235
@turkenh thanks for this issue! This is a good observation :) For full context on what happens here, when you create a `v1beta1` GKECluster with Crossplane, it provisions a default node pool that we immediately clean up (you _cannot create_ a GKE Cluster on GCP without a node pool, but a GKE Cluster _can exist_ with no node pools).

Options here would be:
1. We expose configuration of that default

[2020-06-02 11:18] turkenh commented on #235
I am fine with both options but option 1 sounds like a simpler solution.

However, one thing I noticed, it is not possible to enable gvisor on **default** nodepool via GCP console as well.

<img width="624" alt="Screen Shot 2020-06-02 at 14 09 49" src="https://user-images.githubusercontent.com/9900707/83514098-a3231580-a4db-11ea-85e4-912141b5d251.png">

I did click "Add Node Pool" button and confi

[2020-06-09 14:09] hasheddan commented on #235
@turkenh I see, thanks for that context! It sounds like we would need to enable creating Node Pools as part of the GKE cluster, something that the GCP API [does support](https://cloud.google.com/kubernetes-engine/docs/reference/rest/v1beta1/projects.locations.clusters/create). This violates our principle of reflecting each service as its own object, but it seems that we are restricting this functi

[2020-06-12 13:39] lopezator commented on #206
+1 for GCP Pub Sub

[2020-06-18 15:39] muvaf opened #240 "Support for GCP Pub/Sub Topic"
### What problem are you facing?

I'd like to provision a Pub/Sub Topic resource.

### How could Crossplane help solve your problem?

Implement GCP PubSub managed resources from this API https://cloud.google.com/pubsub/docs/apis

[2020-06-19 19:01] negz commented on #240
@jacobstr could you let us know what bits (i.e. APIs/Concepts) of pubsub would be the most impactful for us to support?

[2020-06-22 10:06] lopezator opened #242 "Support for GCP Cloud Run"
**What problem are you facing?**

I'd like to provision a Pub/Sub Topic resource.

**How could Crossplane help solve your problem?**

Implement GCP Cloud Run managed resources from this API https://cloud.google.com/run/docs/apis

[2020-06-22 13:29] muvaf commented on #240
Implemented by https://github.com/crossplane/provider-gcp/pull/241 but feel free to comment about additional features you'd like to see in PubSub group.

[2020-06-22 13:29] #240 closed

[2020-06-30 03:05] tvvignesh opened #244 "Queries on Crossplane, Unable to find GcePersistentDiskCsiDriver addon"
Hi. I was trying out Crossplane but I was not able to find the addon `GcePersistentDiskCsiDriver` in the docs - https://doc.crds.dev/github.com/crossplane/provider-gcp/config/crd/container.gcp.crossplane.io_gkeclusters.yaml

The CSI driver is documented here: https://cloud.google.com/kubernetes-engine/docs/how-to/gce-pd-csi-driver

Also while there is shieldedInstanceConfig, I am not able to find

[2020-07-03 01:24] negz opened #245 "GCP ServiceAccounts are missing package metadata"
### What happened?

At the time of writing there's no package metadata for GCP Service Accounts:

https://github.com/crossplane/provider-gcp/tree/c5b62363098170b0bcf2ff340ec99167c52370af/config/package/manifests/resources

[2020-07-11 16:40] fleeto opened #246 "Failed in section <Provision Infrastructure>"
### What happened?

Following the document, section [Provision Infrastructure](https://crossplane.io/docs/v0.12/getting-started/provision-infrastructure.html). In the last step:

[code]

### How can we reproduce it?

Just follow the document.

### What environment did it happen in?
Crossplane version:

Crossplane:v0.12.0
Kubernetes 1.18(Kind)
GCP
Ubuntu: Linux li1589-35 5.4.0-26-generic #30-Ubuntu

[2020-08-06 15:18] prasek commented on #244
@tvvignesh note we are exploring multiple code generation options for the providers, including #262, and are looking at different metadata sources to generate from, so that should help on this front.

[2020-08-27 16:25] muvaf commented on #246
Hi @fleeto ! Could you check whether the service account you set up has the necessary permissions to managed `CloudSQL`?

[2020-09-07 15:29] Cicatrice commented on #226
We are using CNRM on our GKE cluster, and we have the same error ; this maybe related to this issue : https://github.com/GoogleCloudPlatform/k8s-config-connector/issues/148

[2020-10-06 06:13] gowrisankar22 opened #265 "Support day 2 operations features for backing services"
What problem are you facing?
Support for “day 2” operations that developers might want for backing services(rds, cache, etc) e.g backup(Available) and restore(not available), credentials rotation(not avilable) ..etc

How could Crossplane help solve your problem?

[2020-11-02 12:57] haresh93 opened #277 "How to Deploy SQL Server with CloudSQl Instance"
### What happened?
Using CloudSQL instance we were able to deploy MySql and PostgreSQL but now we need to deploy a SQL Server but when i looked at the code i did not find anything which is relevant to SQL Server. Is it supported? if not how can we extend to deploy SQL Server

### What environment did it happen in?
Crossplane version:
v1Beta1

[2020-11-18 22:51] negz commented on #277
Hi @haresh93! Sorry for the slow response to your issue. I _think_ SQL server should work today - it looks like you just need to set your `databaseVersion` to one of the SQL server versions when creating a `CloudSQLInstance`; https://cloud.google.com/sql/docs/mysql/admin-api/rest/v1beta4/SqlDatabaseVersion. Please let us know if you run into any issues doing so.

[2020-12-02 19:49] bgrant0607 opened #283 "Have you considered using Config Connector?"
I didn't see any other issues, PRs, or docs answering this question.

GCP has a supported KRM-based provider:
https://cloud.google.com/config-connector/docs/overview

It supports a significant number of resources:
https://cloud.google.com/config-connector/docs/reference/overview

Have you considered using it?

[2020-12-02 21:26] negz commented on #283
Hi Brian,

Great question! We have considered using Config Connector, but we feel that a purpose built Crossplane provider offers a better experience for our community.

This experience comes largely from API consistency within the Crossplane ecosystem. We love the KRM and what it has done for open source control planes, but we’ve found that our community benefits from an even more opinionated API

[2020-12-03 20:08] prasek commented on #283
@bgrant0607 some more info on the ACK and ASO collaboration here:
https://blog.crossplane.io/accelerating-crossplane-provider-coverage-with-ack-and-azure-code-generation-towards-100-percent-coverage-of-all-cloud-services/

/cc @jaypipes @davefellows

[2020-12-16 14:43] turkenh opened #288 "Nodepool controller tries to downgrade auto-upgraded nodepools"
### What happened?

Deployed a NodePool with version `1.16.15-gke.2601`  and autoUpgrade enabled:

[code]

After sometime, GKE auto upgraded nodepool to version: `1.16.15-gke.4300`. But then, NodePool controller went and sent an update to nodepool spec to set it back to initial version.

### How can we reproduce it?

Deploy a NodePool with auto upgrade enabled and observe what happens after google

[2020-12-16 14:52] hasheddan commented on #288
@turkenh thanks for this write-up! Seems like we need to have a special case here where if a user specifies auto-upgrade then we let any change made by GCP to the version overwrite the current spec.

[2020-12-16 19:25] turkenh commented on #288
@hasheddan hmm, after checking the code, I think I can provide a fix for this. Assigning to myself.
Thanks!

[2020-12-21 14:16] #288 closed

[2020-12-23 23:32] RealHarshThakur opened #294 "Support for Secrets Manager"
### What problem are you facing?
Similar to https://github.com/crossplane/provider-aws/issues/405 for GCP

### How could Crossplane help solve your problem?
By supporting Secrets Manager

I would like to take this issue up. Please assign it to me.  Will send a PR in a weekend or two cc : @jbw976 @hasheddan

[2021-01-05 11:10] turkenh opened #295 "Unable to delete bucket if not empty"
### What problem are you facing?

After deleting a `Bucket` resource with kubectl, I am getting the following error if bucket is not empty (which is usually the case if you are using that bucket for something real):

[code]

### How could Crossplane help solve your problem?
I understand this is the error that is returned from gcloud API but still wondering whether provider-gcp can add some field i

[2021-01-06 19:47] jseriff opened #296 "Support for Pub/Sub Subscriptions"
### What problem are you facing?

I'd like to provision a Pub/Sub Subscription resource.

### How could Crossplane help solve your problem?

Implement the subscription resource: https://cloud.google.com/pubsub/docs/reference/rest/v1/projects.subscriptions

[2021-01-13 22:31] enderv opened #297 "Google Container Registry Support"
### What problem are you facing?
Currently no support for Google Container Registry

### How could Crossplane help solve your problem?
Add support for GCR resources similar to ECR in provider-aws.

[2021-01-19 21:08] negz commented on #297
Thanks for the feature request @enderv! I'm not sure we'll be able to get this on the roadmap for my team to work on in the coming month or two, but we're definitely happy to help anyone from the community who would like to contribute it.

[2021-01-27 20:59] dgorender opened #298 "Implement ServiceAccountKey managed resource support"
### What problem are you facing?

Crossplane create a service account alright, but there is no option to generate a credentials key. The yaml has a writeConnectionSecretToRef attribute, but it does not write anything into the secret.

### How could Crossplane help solve your problem?

By creating an option for storing service accounts credential in a secret, be it via service account atributtes or

[2021-01-28 11:49] muvaf commented on #298
I think we need a separate managed resource called `ServiceAccountKey` that would write public and private key to a secret. An example from docs is [here](https://github.com/GoogleCloudPlatform/golang-samples/blob/master/iam/snippets/service_account_keys_create.go). I'll change the title accordingly.

[2021-01-28 22:50] jgwmaxwell opened #299 "ProjectID in ProviderConfig not honoured if ServiceAccount credentials are from a different project"
Thanks for all your hard work on this, it's super awesome to see how far it's come and how useful it is.

### What happened?
I tried to use a cross-project ServiceAccount to provision resources in another project that it has access to. The creation call for a CloudSQLInstance fails, as it is trying to access the project of the ServiceAccount credentials, not the configured `projectID` from the `Pr

[2021-01-29 13:58] muvaf commented on #299
Hmm that's interesting. I checked the [creation call](https://github.com/crossplane/provider-gcp/blob/d2549cb/pkg/controller/database/cloudsql.go#L150) and it seems we do pass the `projectID` taken from `ProviderConfig`. Could you try creating the CloudSQLInstance using `gcloud` CLI with that account and share the command and its result? I don't have access to more than one GCP project right now s

[2021-01-29 14:26] muvaf opened #300 "Document exactly what set of permissions is needed for a specific CRD"
### What problem are you facing?

Users would like to give the least possible set of permissions to `ServiceAccount` they use but they end up granting wider roles than necessary. For example `CloudSQL Admin` role includes making SQL queries but controller never does that.

### How could Crossplane help solve your problem?

We can annotate CRDs with the set of permissions controller may ever need,

[2021-02-10 21:01] hasheddan opened #303 "Add support for types required to replace GCPCluster type in cluster-api-provider-gcp"
### What problem are you facing?

[cluster-api-provider-gcp](https://github.com/kubernetes-sigs/cluster-api-provider-gcp) exposes a `GCPCluster` type and controller that does most of the setup around provisioning a Kubernetes cluster on GCP other than creating the actual compute instances. Under the hood the `GCPCluster` controller creates a number resources on GCP, some of which are already suppo

[2021-02-11 10:35] muvaf commented on #303
@hasheddan let me know if I can help!

[2021-02-12 12:15] tomkerkhove opened #304 "Feature: Implement /scale subresource to allow resource autoscaling"
### What problem are you facing?

Autoscaling Azure resources can be hard and would be nice to have it integrated.

### How could Crossplane help solve your problem?

KEDA is an application autoscaler for KEDA which allows you to autoscale anything, as long as it supports /scale subresource.

If this provider would support it, we could automatically scale resources based on metrics.

[2021-02-12 18:44] muvaf commented on #304
Hi @tomkerkhove ! What do you mean by scaling here? If it means to have more than one instance of the controller pod, it'd not really work with Kubernetes controllers since there has to be only a single controller at a time in the cluster.

[2021-02-12 19:09] tomkerkhove commented on #304
No I was more thinking about scaling the resources that are being created. For example, give a SQL instance more resources.

[2021-02-24 11:31] muvaf commented on #277
@haresh93 feel free to reopen if the answer wasn't correct.

[2021-02-24 11:31] #277 closed

[2021-02-24 11:32] #246 closed

[2021-02-24 11:33] muvaf commented on #245
Not relevant anymore.

[2021-02-24 11:33] #245 closed

[2021-02-24 11:34] muvaf commented on #226
I think this had been solved by a small hack that we borrowed from Terraform implementation. Feel free to reopen if it still happens.

[2021-02-24 11:34] #226 closed

[2021-02-24 11:35] muvaf commented on #222
Not relevant anymore.

[2021-02-24 11:35] #222 closed

[2021-02-24 11:36] muvaf commented on #219
@prasek feel free to reopen if you think this is still valid for `package/crossplane.yaml`

[2021-02-24 11:36] #219 closed

[2021-02-24 11:37] muvaf commented on #197
This should be fixed by external-name annotation.

[2021-02-24 11:37] #197 closed

[2021-02-24 11:43] muvaf commented on #189
Seems https://github.com/crossplane/crossplane-runtime/issues/78 is fixed. Feel free to reopen if this still happens.

[2021-02-24 11:43] #189 closed

[2021-02-24 11:44] muvaf commented on #188
Tracked here https://github.com/crossplane/crossplane/issues/1584

[2021-02-24 11:44] #188 closed

[2021-02-24 11:45] muvaf commented on #109
Done https://github.com/crossplane/provider-gcp/tree/master/examples

[2021-02-24 11:45] #109 closed

[2021-02-24 11:45] muvaf commented on #51
Done

[2021-02-24 11:45] #51 closed

[2021-02-24 11:46] muvaf commented on #32
Done

[2021-02-24 11:46] #32 closed

[2021-02-24 11:46] muvaf commented on #3
Done

[2021-02-24 11:46] #3 closed

[2021-03-02 00:45] hasheddan opened #309 "[RFC] Consider creating provider-gcp-beta"
### What problem are you facing?

As detailed in https://github.com/crossplane/provider-gcp/pull/308, having resources rely on `v1beta1` GCP APIs precludes them from every reaching post-`v1alphaX` status because we cannot guarantee their stability. When fields are dropped or changed in the GCP API we are forced to either drop or change them in Crossplane because pinning the GCP API to a specific v

[2021-03-02 14:00] muvaf commented on #309
I missed the community meeting, but I agree that a separate provider would make sense. I'm not sure about the naming though. There could be several `v1beta*` in GCP as well as `v2beta*` etc. So, having `v1beta1.gcp.crossplane.io` and `v1.gcp.crossplane.io` provider groups seems more accurate but also a recipe for confusion with CRD `apiVersion`.

Additionally, I think https://github.com/crossplane

[2021-03-02 14:04] hasheddan commented on #309
Not sure I follow where you see the naming conflict here. It seems to me that having `container.gcp.crossplane.io` and `container.gcp-beta.crossplane.io` would be more in line with how provider groups differ today and would make it very clear what provider package the CRD came from.

[2021-03-02 14:10] muvaf commented on #309
Are we sure that there will not be a `v2` or `v2beta1` that might necessitate a difference between `gcp` and v2 `gcp`, `gcp-beta` and v2beta1 `gcp-beta`?

[2021-03-02 14:19] hasheddan commented on #309
@muvaf we cannot guarantee that, but the point of having the two different providers is not to map to a specific API for each but rather to have one where we can offer "stable" resources and one where we can offer "unstable" ones. So if there was a `v2` API introduced for `GKECluster` for example I think we could have that in `provider-gcp` and and call it something like `GKEClusterv2` or use the

[2021-03-02 15:34] muvaf commented on #309
Got it, sounds good to me. Thanks for the explanation!

[2021-03-03 14:25] RealHarshThakur commented on #309
Option 3 does seem the best choice. There's one caveat end user would face and this has to be fixed upstream in Kubernetes. End user cannot `kubectl explain <resource>`  based on the API group yet.
https://github.com/kubernetes/kubernetes/pull/91295

[2021-03-10 12:44] insider89 opened #312 "GCP CloudSQL support backup point-in-time-recovery configuration"
Hello.

Could you please add the ability to configure backup point-in-time recovery feature with GCP crossplane provider?
GCP [API](https://cloud.google.com/sql/docs/postgres/backup-recovery/pitr) available to do it.
AFAIS it's not available in current [configuration](https://github.com/crossplane/provider-gcp/blob/76adc1f3f62c2269b5c802dc00c2e152ad10939d/pkg/clients/cloudsql/cloudsql.go#L86-L94).

[2021-03-10 18:24] negz commented on #309
Option three has my vote! I'd go with `beta.gcp.crossplane.io` as the API group (presuming the `beta` part won't clash with some Google service named "Beta"?).

We'll need to do a thorough job of communicating these breaking changes - any idea how we can go about that given that we typically don't have provider scoped release notes or documentation?

[2021-03-13 15:14] riveryc commented on #148
Why don't you just simply use route53 as your DNS management instead of Cloud DNS?
I'm bit confused here...

[2021-03-16 10:08] jkylling opened #314 "Add support for fetching service account credentials to a kubernetes secret"
### What problem are you facing?

Currently provider-gcp does not have any way to fetch the credentials of the service accounts it creates.
This makes it a bit pointless to create a service account, as there is no way to use the service account in a service.
This can be worked around by using [workload identity](https://cloud.google.com/kubernetes-engine/docs/how-to/workload-identity), which admit

[2021-03-22 18:26] szydek commented on #312
I'd be happy to open a separate issue (please let me know if that would be helpful or not), but since it's related, I suggest the following BackupConfiguration parameters also be implemented along with pointInTimeRecoveryEnabled:

- transactionLogRetentionDays
- backupRetentionSettings

Example config:
spec:
  forProvider:
    settings:
      backupConfiguration:
        enabled: true
        star

[2021-03-22 18:38] BigSammich opened #315 "Allow connectMode parameter to be set for CloudMemorystoreInstance"
The [connectMode](https://cloud.google.com/memorystore/docs/redis/reference/rest/v1/projects.locations.instances#ConnectMode) parameter is not exposed in the [CloudMemorystoreInstanceParameters](https://github.com/crossplane/provider-gcp/blob/master/apis/cache/v1beta1/cloudmemorystore_instance_types.go#L28) type. This doesn't allow provisioning of Memorystore instances which leverage Private Servi

[2021-03-24 10:21] muvaf commented on #312
Seems like they are not used here https://github.com/crossplane/provider-gcp/blob/master/pkg/clients/cloudsql/cloudsql.go#L90

[2021-03-25 16:23] szydek opened #318 "Implement support for Memorystore Redis "Auth String""
### What problem are you facing?
GCP Memorystore Redis supports the "Auth String" configuration:

https://github.com/googleapis/google-api-go-client/blob/39fb9f0d81a68916f0849eb9410d8a4b7291b011/redis/v1beta1/redis-gen.go#L656

### How could Crossplane help solve your problem?
Crossplane users could benefit by having the auth string configured as part of deployment and stored as a k8s secret to he

[2021-03-26 14:02] lewismarshall opened #319 "Allow the use of delegated service accounts in ProviderConfig"
### What problem are you facing?

I would like to use specific and least privileged access for provisioning GCP resources without managing additional credentials in crossplane wherever possible.

### How could Crossplane help solve your problem?

Adding a field e.g. `impersonateServiceAccount` to the `ProviderConfig` would allow GCP service accounts to [impersonate other service accounts](https://

[2021-03-30 16:55] jharshman opened #320 "Support Google Cloud Build Triggers"
### What problem are you facing?

For my workflow, it would be nice to consolidate the create / update / and delete of Google Cloud Build Triggers through the Crossplane Resource Model.

### How could Crossplane help solve your problem?

Add support for Google Cloud Build Triggers.

[2021-03-31 17:25] #315 closed

[2021-04-15 14:00] ulucinar commented on #298
Hi,
I will try to take care of this issue. Thanks for reporting.

[2021-04-16 09:57] ulucinar commented on #298
I did some experiments for provisioning Google Cloud IAM service account keys. It seems to be the case that GCP does not persist the provisioned private key [1], thus provides no APIs to get the private key after it's provisioned.  The provisioning API, however, does allow uploading public keys for service accounts [2]. Thus my proposal would be to:
   - always generate the key pair in the control

[2021-04-16 15:17] muvaf commented on #298
It seems like `Create` API allows us to toggle the [`KeyAlgorithm` and `PrivateKeyType`](https://github.com/googleapis/google-api-go-client/blob/v0.21.0/iam/v1/iam-gen.go#L678) fields. In order to achieve high fidelity, we need to expose these fields in CRD and configure the generated key payload with that information. But I am not sure if we want to get to that deep into the weeds because the mor

[2021-04-16 16:09] ulucinar commented on #298
Thanks for mentioning the high-fidelity requirements. As we discussed, we can keep the `Create` API intact, for now, as the parameters, their default values and semantics are well-defined and feasible to implement on the client (crossplane) side. But this is also added complexity for us. We would need to add support for any new GCP-supported key algorithms, or output formats in the future.

Yes, e

[2021-04-19 18:43] hasheddan commented on #309
This proposal is now in motion in https://github.com/crossplane/provider-gcp-beta. I think this is a great forcing function to introduce provider-specific release notes. According to governance, this is enforced on a per-provider level, but I would encourage us to go ahead and apply it to all providers under the crossplane org.

[2021-04-20 14:00] hasheddan commented on #298
@muvaf I had a good chat with @ulucinar this morning and I think a simple solution for trying to ensure the connection `Secret` gets populated when connection details are returned from the `Create` call would be to duplicate the retry logic you added [here](https://github.com/crossplane/crossplane-runtime/blob/824eb6919de2aa2a70a78233a6715bf01decaab2/pkg/reconciler/managed/reconciler.go#L686) in t

[2021-04-20 15:57] muvaf commented on #298
Sounds good to me but I think it should happen in the [implementation](https://github.com/crossplane/crossplane-runtime/blob/824eb69/pkg/reconciler/managed/api.go#L104) of the publisher, rather than the managed reconciler. Because supposedly, the underlying publishing mechanism might not be Kubernetes secret, hence we can't know the error type.

[2021-05-02 21:54] muvaf opened #324 "Define a release cadence"
### What problem are you facing?

Crossplane has its own [release cadence](https://crossplane.io/docs/master/reference/release-cycle.html) but that doesn't bind the providers. We need a similar mechanism for provider-aws.

### How could Crossplane help solve your problem?

So far, we released providers when we released a new Crossplane version. We could continue doing that or have a separate relea

[2021-05-06 15:10] echarles opened #325 "Get Kubeconfig from a GKE managed cluster?"
I have created a GKE Cluster with provider-gcp (based on the examples https://github.com/crossplane/provider-gcp/tree/master/examples/gke)

Is there a way to get from Crossplane the Kubeconfig to connect to that cluster?

[2021-05-06 15:14] echarles opened #326 "Service Account does not have storage.buckets.get access to the Google Cloud Storage bucket"
My setup can create database, network and K8S, but fails to create a bucket.

I have given `roles/storage.admin` to my service account.

[code]

When  I apply https://raw.githubusercontent.com/crossplane/provider-gcp/master/examples/storage/bucket.yaml  I get the following issue complaining that the service account has not the needed permissions.

[code]

I have triple checked and tried a few time

[2021-05-06 17:51] echarles commented on #325
oh, simply adding the following creates the expected secret

[code]

[code]

[2021-05-06 17:51] echarles commented on #325
Closing

[2021-05-06 17:51] #325 closed

[2021-05-06 18:09] echarles commented on #326
oooh, That message was very confusing `does not have storage.buckets.get access to the Google Cloud Storage bucket`

Actually, the external-name was the issue

[code]

`crossplane-example-bucket` was already existing, and a bucket name has to be globally unique.

<img width="477" alt="Screenshot 2021-05-06 at 20 08 25" src="https://user-images.githubusercontent.com/226720/117345467-dcf85b00-aea6-1

[2021-05-06 18:09] #326 closed

[2021-05-07 14:41] echarles commented on #325
I have create a GKE cluster with `spec.masterAuth.clientCertificateConfig.issueClientCertificate` set to `true`and got the kubeconfig with the user key in the secret generated by Crossplane. However, using the returned context, GKE does not allow me to interact with the cluster API. Is this expected? How can I get a user to take actions on the created cluster?

[code]

[2021-05-08 09:56] echarles commented on #128
FYI One more slack discussion on this https://crossplane.slack.com/archives/C01718T2476/p1620467756228000?thread_ts=1620398874.226900&cid=C01718T2476

[2021-05-08 17:14] echarles commented on #101
At some point, a username/password will not work anymore. Read on https://cloud.google.com/kubernetes-engine/docs/how-to/api-server-authentication#disabling_authentication_with_a_static_password: `Note: Basic authentication is deprecated and has been removed in GKE 1.19 and later.`

[2021-05-09 08:29] jbw976 commented on #101
breadcrumbs to https://github.com/crossplane-contrib/provider-helm/issues/72 which appears very related

[2021-05-19 14:34] wfaler commented on #242
Is anyone working on this?

If not, I'd be interested in giving it a try, if there are any good guides on how to implement a resource AND the effort is not overwhelmingly large.

[2021-05-20 19:33] muvaf commented on #242
Hi @wfaler ! Yes, there is [Provider Dev Guide](https://crossplane.io/docs/v1.2/contributing/provider_development_guide.html) as a doc and also a [video](https://www.youtube.com/watch?v=rvQ8N0u3rkE&t=7s) where I'm implementing GCP PubSub managed resource that you can follow along.

Feel free to join our Slack and ask for help whenever you need!

[2021-05-21 04:00] tricky42 opened #329 "Add support for gcp.compute.Firewall, gcp.compute.RouterNat and gcp.compute.Router"
### What problem are you facing?
We cant to switch from Pulumi to Crossplane for managing our infrastructure. So far we can switch fully as not all needed resources are supported by the Crossplane GCP provider:

* gcp.compute.Firewall
* gcp.compute.RouterNat
* gcp.compute.Router

We are using private GKE clusters and use Router and RouterNat to enable access to DockerHub until we have proxy the ne

[2021-05-25 09:58] #298 closed

[2021-05-25 14:31] Smana opened #330 "GKE: Being able to choose the dataplane version (enabling ebpf based CNI plugin)"
Hello,

Having a look to the current version of the API reference we're not able to set the Dataplane version.
This config item is used to enable a recent evolution of the GKE networking.

More information here
https://cloud.google.com/kubernetes-engine/docs/how-to/dataplane-v2
What are the API's items to change:
https://cloud.google.com/kubernetes-engine/docs/how-to/dataplane-v2#api

I would be h

[2021-05-25 15:54] wfaler commented on #242
@muvaf thanks for the pointers! I'll probably hold off on this (anyone else wanting to do it, feel free).
It looks as if Cloud Run doesn't have an official Go API yet?

I guess I _could_ try to call the REST API's directly to work around it, but not sure I have the patience or time to wrap my skull around it at the moment, unfortunately. :(

[2021-05-26 06:47] Smana commented on #330
Having a look to the code. It seems that the API version used is pretty old which was released ~1 year ago.

[code]

I'd love to update it but it will probably require many changes. How can I try my changes please ?

[2021-05-27 12:01] hasheddan commented on #330
@Smana this should be addressed in https://github.com/crossplane/provider-gcp/pull/308, which I hope to complete very soon :)

[2021-06-03 15:11] psinghal20 commented on #329
Hey @negz, if no one is actually working on these resources, I would love to take this issue up. I have started with the Firewall resource implementation.

TBS stream on Pub/Sub implementation by @muvaf @hasheddan is an extremely helpful starting point! Thanks for such a great resource! :smile:

[2021-06-08 06:37] Smana commented on #330
The PR https://github.com/crossplane/provider-gcp/pull/308 has been merged and includes the parameter. Thanks

[2021-06-08 06:37] #330 closed

[2021-06-14 17:20] CarpathianUA commented on #138
Experiencing the same

[2021-06-22 02:42] praveenghuge opened #337 "Support Cloud DNS service"
What problem are you facing?
It would be nice to consolidate the create / update / and delete of Google Cloud DNS  through the Crossplane Resource Model.

How could Crossplane help solve your problem?
Add support for Google Cloud DNS

[2021-06-22 02:43] praveenghuge opened #338 "Support Firewall Service"
What problem are you facing?
It would be nice to consolidate the create / update / and delete of Google Firewall through the Crossplane Resource Model.

How could Crossplane help solve your problem?
Add support for Google Firewall

[2021-06-22 02:45] praveenghuge opened #339 "Support Cloud Interconnect service"
What problem are you facing?
It would be nice to consolidate the create / update / and delete of Google cloud Interconnect through the Crossplane Resource Model.

How could Crossplane help solve your problem?
Add support for Google Cloud Interconnect.

[2021-06-22 02:48] praveenghuge opened #340 "Support Google Marketplace resources"
What problem are you facing?
It would if we support Google marketplace services.

How could Crossplane help solve your problem?
we can include the marketplace services to deploy using crossplane.
service like :

- [ ] MongoDB (VM Based, Marketplace)
- [ ] vSRX Next Generation Firewall (Marketplace)
- [ ] Elastic Cloud (Marketplace)
- [ ] SMTP (Marketplace)

[2021-06-23 15:07] sanketg86 opened #342 "any plan for Google Cloud Scheduler"
Hi Team,

I am looking solution to configure Google Cloud Scheduler through crossplane, any plan in future to add this feature in crossplane ?

[2021-06-30 16:22] vfarcic opened #343 "GKECluster kubeconfig relies on deprecated basic auth"
Creating kubeconfig from the `GKECluster` does not work without `masterAuth` set. It creates kubeconfig without a user. However, when `masterAuth` is defined, creation of a GKE cluster fails with newer versions of Kubernetes since the basic authentication is removed in GKE cluster versions >= 1.19. The process of generating kubeconfig should be solved in a different way.

### What happened?

Creat

[2021-07-08 15:45] jbw976 commented on #343
Breadcrumbs to https://github.com/crossplane/provider-gcp/issues/101 and https://github.com/crossplane-contrib/provider-helm/issues/72 which appear to be related to this. This issue is rapidly becoming more important because the minimum supported version of GKE will surpass 1.18 (the last version allowing basic auth) soon.

[2021-07-12 20:38] BigSammich opened #345 "CloudSQL read replica connection secret contains new root password"
### What happened?
When creating a read replica cloudsql instance, a new root password is generated and stored in the connection secret. This password becomes invalid once replication occurs. The root password in the secret for the primary instance works as expected, however, we have region specific k8s (openshift) clusters, so obtaining the primary root password is not possible with multi-region

[2021-07-14 18:46] raffaelespazzoli opened #346 ""make run" does not seem to work"
### What happened?
I'm getting this error:
[code]
the problem seems to be that the binary created by the previous compilation step is `provider` instead of `provider-gcp`.

### How can we reproduce it?

clone master and Run `make run`

[2021-07-14 18:51] hasheddan commented on #346
@raffaelespazzoli good catch, could you change `$(PROJECT_NAME)` to just `provider` in the `Makefile` section below?
https://github.com/crossplane/provider-gcp/blob/a96c0e34256912132118fbc3eaa8aa5fb02cb85d/Makefile#L109

[2021-07-15 16:23] BigSammich commented on #345
Looks like an issue is open with Google about not being able to return the password of a user https://issuetracker.google.com/issues/172487834?pli=1, but they have indicated that the feature request they will implement is a "flag that indicates if a user has a password set or not". Due to this, it's not (nor will be) feasible to retrieve the root password for updating the replica connection secret

[2021-07-15 16:23] #345 closed

[2021-07-27 14:17] Demonsthere opened #348 "ServiceAccountPolicy is mistaken for CryptoKeyPolicy"
### What happened?

 When creating a simple SA+policy pair like:

[code]
The Policy object is failing with these records in the status:

[code]

### How can we reproduce it?

Applying a yaml combo like this above should be enough

### What environment did it happen in?
Crossplane version:
- gke provider 0.17.1
- crossplane 1.3.0

[2021-07-28 12:36] Demonsthere commented on #348
Btw: a small typo in Bucket CRD: https://doc.crds.dev/github.com/crossplane/provider-gcp/storage.gcp.crossplane.io/Bucket/v1alpha3@v0.17.1#spec-predefinedCefaultObjectAcl
 instead of `predefinedDefaultObjectAcl` ;)

[2021-07-28 14:38] muvaf commented on #348
The error happends during create operation and [here](https://github.com/crossplane/provider-gcp/blob/8efcc15/pkg/controller/iam/serviceaccountpolicy.go#L130) is the call that's made. So, I think it calls the correct endpoint but the error returned from GCP is misleading.

[2021-08-04 19:11] Zamyatin commented on #283
Just a thought, but the folks at Google that support the Terraform / Ainsible / Pulumi providers use some provider-building tooling called "Magic Modules" (https://github.com/GoogleCloudPlatform/magic-modules) which does some magic to auto-update providers as API changes come out. Not sure how you'd fit your project in with MM, but it might be a huge boon to keep up with the APIs that Google spins

[2021-08-05 14:59] Feggah opened #350 "Add support for ResourceRecordSets"
### What problem are you facing?

I need to manage [ResourceRecordSets](https://cloud.google.com/dns/docs/reference/v1/resourceRecordSets) (part of Cloud DNS) using Crossplane

### How could Crossplane help solve your problem?

Adding support for this resource

[2021-08-05 15:02] Feggah commented on #350
If no one is already developing it, I can add support for this resource.

I'm planning to use the [DNS in the SDK](https://pkg.go.dev/google.golang.org/api@v0.52.0/dns/v1) to implement it. Is there any detail that I need to be aware of when developing this feature?

[2021-08-10 16:32] b4nst commented on #164
Why is this issue closed? I still can see this behavior happening

[2021-08-11 03:18] negz commented on #164
@b4nst we believed we diagnosed and fixed the issue in https://github.com/crossplane/provider-gcp/pull/166, and have not had any recent reports over the last year to my knowledge. Please raise a new issue for the issue you're seeing, including examples of any XRs, Compositions, and the CloudSQLInstance you're using.

[2021-08-11 08:05] b4nst opened #352 "CloudSQLInstance keeps modifying the instance"
### What happened?

I still can see the behavior of #164

### How can we reproduce it?

[code]

### What environment did it happen in?
* Crossplane version: `v1.3.0`
* Cloud provider or hardware configuration: `provider-gcp-controller:v0.17.1`
* K8s Rev: `v1.20.8-gke.900`

### Workaround/Fix

Use full resource URL for `spec.forProvider.settings.ipConfiguration.privateNetwork` instead of name.

[co

[2021-08-11 18:14] turkenh commented on #348
@Demonsthere if you would like to refer to the service account object, you should use `serviceAccountRef` instead of `serviceAccount`.

[code]

Error 404 makes sense, since there is no service account with resource name `foobar` does not exists. It should be in the format of `projects/my-project/serviceAccounts/my-service-account`.

See https://cloud.google.com/iam/docs/reference/rest/v1/projects.

[2021-08-11 18:38] Demonsthere commented on #348
You are right, this was the problem. The error message did confuse me :) Closing!

[2021-08-11 18:38] #348 closed

[2021-08-12 13:07] Feggah commented on #346
Seems like this break is similar to other providers as well, to be honest I don't know what changed to this bug appear, but we may need to make this similar fix to other repositories.

I run in a similar issue when developing code for [provider-github](https://github.com/crossplane-contrib/provider-github).

[2021-08-12 22:57] #346 closed

[2021-08-17 14:43] turkenh commented on #318
@szydek could you please explain what is the difference with this issue and what you've added with #334 ?

I am understanding that this issue is about taking AuthString as an input via a k8s secret whereas #334 is about the other direction, e.g. fetching gcp generated auth string into connection secret. Is it correct?

[2021-08-18 10:52] luebken opened #354 "Document Provider Flags"
### What problem are you facing?

I'm trying to explore the behavior of this provider. This could be pure exploratory or in some troubleshooting use-case.

### How could Crossplane help solve your problem?

https://github.com/crossplane/provider-gcp/blob/master/cmd/provider/main.go#L36 lists a couple of flags that are useful: debug, sync, poll, leader-election. These should be documented and how u

[2021-08-19 10:37] mscottini opened #357 "GCP Bucket, lifecycle feature: Invalid value: "null":"
### What happened?
I'm trying to create a life cycle for a bucket, but I got this message error:

    cannot update object: Bucket.storage.gcp.crossplane.io "example-bucket" is invalid: spec.lifecycle.rules.condition.createdBefore: Invalid value: "null": spec.lifecycle.rules.condition.createdBefore in body must be of type string: "null

**createdBefore** is not required. https://doc.crds.dev/githu

[2021-08-20 15:47] p3kj opened #355 "Provisioning bucket fails if `createdBefore` lifecycle condition is missing"
### What happened?

I am trying to create simple bucket resource with sample lifecycle policy. Policy should match last two rules in example from https://cloud.google.com/storage/docs/managing-lifecycles?hl=uk#gsutil_2

But ReconcileError arise.
[code]

Looks like the condition `spec.lifecycle.rules.condition.createdBefore` is required? But it should not be.

If I add it with sample `createdBefore

[2021-08-21 01:28] negz commented on #357
@mscottini Thanks for raising this. Are you able to confirm whether the issue persists with the latest provider-gcp release (v0.17.1)?

[2021-08-21 01:30] hasheddan commented on #357
I think this may be a dup of https://github.com/crossplane/provider-gcp/issues/355 and should be fixed by https://github.com/crossplane/provider-gcp/pull/356

[2021-08-21 01:31] negz commented on #357
Aha - that seems very likely. I'll close this issue and we can allow follow #355.

[2021-08-21 01:31] #357 closed

[2021-08-22 21:28] #355 closed

[2021-08-24 13:47] Feggah commented on #337
I don't know which part of Cloud DNS do you want to manage, but if it is the ResourceRecordSet, it is under development in #358.

[2021-08-30 17:51] AaronME opened #359 "Enable setting a different serviceAccount for default nodePool on GKE Clusters"
### What problem are you facing?
In some orgs the default service account for compute is restricted or removed, preventing successful creation of GKE clusters.

### How could Crossplane help solve your problem?
Allow passing a "default" ServiceAccount to (AddNodePoolForCreate)[https://github.com/crossplane/provider-gcp/blob/77ba296b248ae1bc21891d58edb75eae22aec719/pkg/clients/cluster/cluster.go#L5

[2021-09-01 14:12] AaronME opened #360 "Support Cloud NAT and Router Resources"
### What problem are you facing?
Provider-GCP supports the creation of networks and subnetworks, and it is easy to get a _public_ GKE cluster setup.  However, to support _private_ GKE nodes users need to provision Cloud NAT and Router resources.

### How could Crossplane help solve your problem?
Implement Cloud NAT and Router resources in provider-GCP

[2021-09-03 09:20] abhivaidya07 opened #361 "GKE Nodepool keeps on updating frequently"
### What happened?
Deployed GKECluster and Nodepool using the below yaml, but the GKECluster remains in RECONCILING state because Nodepool keeps on updating frequently though there is no change after update.

Crossplane yaml
[code]

Status of GKECluster
[code]

Status of Nodepool
[code]

Describing Nodepool throws this message
[code]

### How can we reproduce it?
Deploy the above YAML and check on

[2021-09-05 23:35] fahedouch opened #362 "Importing existing network error"
### What happened?
When importing an existing network, the crossplane documentation says :
[code]
When I apply this resource  to import the external network `existing-network`  :
[code]
I got openapiv3schema error :
[code]

### How can we reproduce it?

Deploy the above YAML and check on GKE console

### How to fix it?

 the `forProvider` is defined as `required` in the openapiV3schema. So idea is

[2021-09-06 07:00] chlunde commented on #362
same issue in AWS? https://github.com/crossplane/provider-aws/issues/691#issuecomment-874749015

[2021-09-06 08:30] turkenh commented on #362
I think so and [the workaround there](https://github.com/crossplane/provider-aws/issues/691#issuecomment-854173247) should work here as well.

[2021-09-06 22:06] turkenh commented on #361
@abhivaidya07 thanks for the ticket. I was able to reproduce the issue and just debugged what is going on here.

It seems that the field causing updates is `spec.forProvider.config.imageType` in `NodePool` object due to observation returns `COS_CONTAINERD` but desired is `cos_containerd`. Interestingly, gcloud API accepts lowercase but converts to uppercase on server side which is perceived as a c

[2021-09-07 09:46] #362 closed

[2021-09-07 12:41] abhivaidya07 commented on #361
@turkenh I ACK that everything is working as expected. Thank you :+1:
Closing this issue !!

[2021-09-07 12:41] #361 closed

[2021-09-07 13:03] rchrd commented on #343
Any updates on this issue?

I'd like to create a PaaS offering (as shown in the videos by @jbw976 and @vfarcic) by deploying ArgoCD to the newly created cluster but that's not possible because of this kubeconfig issue.

[2021-09-09 13:20] astraios commented on #352
Do we have any news about this one?

[2021-09-09 16:52] kferrone commented on #130
When this bumps the version, will the buckets use the `spec.forProvider` semantic? Currently they do not, I was thrown off a bit.

[2021-09-13 22:28] negz commented on #101
As @jbw976 points out, this is the same issue as https://github.com/crossplane/provider-gcp/issues/343. This one came first, but https://github.com/crossplane/provider-gcp/issues/343 communicates the increased gravity of the issue so I'm going to close this one.

[2021-09-13 22:28] #101 closed

[2021-09-13 22:30] negz commented on #343
Breadcrumbs to https://github.com/crossplane/crossplane-runtime/issues/281, which is where we're currently looking into this.

[2021-09-14 07:04] negz commented on #343
Unfortunately I don't think there's really a fix we can add to the `GKECluster` managed resource (or this provider in general) to work around this. Google's preferred auth method is to use OAuth to authenticate to GKE clusters, which requires client-side updates (e.g. in provider-helm and friends).

[2021-09-15 03:56] negz opened #367 "`BucketPolicy` includes misleading API fields"
### What happened?

https://cloud.google.com/storage/docs/json_api/v1/buckets/setIamPolicy
https://github.com/crossplane/provider-gcp/blob/0206b416/apis/storage/v1alpha1/bucketpolicy_types.go#L45

The `BucketPolicy` type appears to reuse the `iamv1alpha1.Policy` struct, which has fields that are meaningless to the `BucketPolicy` managed resource. This will be misleading to users, who will see Open

[2021-09-15 04:03] negz opened #368 "Merge `BucketPolicyMembership` into `BucketPolicy`?"
### What happened?

It seems like `BucketPolicy` and `BucketPolicyMembership` actually both manipulate the same underlying API object, per https://cloud.google.com/storage/docs/json_api/v1/buckets/setIamPolicy. This doesn't seem idiomatic - I would expect there to be a single `BucketPolicy` type that could be updated to add and remove members.

### How can we reproduce it?

### What environment di

[2021-09-15 04:04] negz commented on #368
@turkenh I forget whether this was discussed when you implemented https://github.com/crossplane/provider-gcp/pull/291. Was there a reason to split this into two different managed resources?

[2021-09-15 05:47] negz opened #370 "Can't delete `BucketPolicyMember` that pertains to non-existent `Bucket`"
### What happened?

I created an XR that was composed of a `Bucket` and a `BucketPolicyMember` (among other things). When I deleted the XR I noted the `BucketPolicyMember` could not be deleted because the `Bucket` no longer existed. e.g.:

[code]

I believe the GCS bucket being gone at the Google API level implies that the bucket IAM policy is also gone, so I suspect we can just assume that if `De

[2021-09-15 14:13] turkenh commented on #368
**TL;DR:** It was because `BucketPolicy` resource could remove google managed policies breaking basic access to the bucket from console or cli.

---

@negz I don't remember any public discussion that I could refer to. However, I remember the reason why I ended up doing so. My primary use case for the resources introduced with #291 was to provision required infrastructure to run a [production-grade

[2021-09-15 15:01] turkenh commented on #352
@b4nst I am trying to reproduce the issue on my side, but I cannot create a `CloudSQLInstance` with the manifest you shared. Getting:

[code]

Tried setting `privateNetwork` both as `default` and `projects/redacted-project/global/networks/default`, but no luck.

When I try to created without `privateNetwork` field and them attempt to add it with an update, I am observing periodic updates as you me

[2021-09-15 20:15] ktroyer opened #371 "Allow use of storageAutoResize in CloudSQL without generating errors in provider-gcp"
### What problem are you facing?
When we provision a cloudSQL instance via provider-gcp and we have set "storageAutoResize: true", once the disk size grows beyond the initial size, provider-gcp begins erroring on reconciliation of that cloudsql instance.  This happens regardless of whether we set an initial disk size or we let the disk size default to 10gb.  The late initialization logic always po

[2021-09-15 23:10] negz commented on #368
Yeah, I started using `BucketPolicyMember` in earnest last night after raising this issue and I can see why we've modelled it this way. I feel a little uncomfortable about potentially having N managed resources all managing the state of one API endpoint, but it does lead to a much better UX. 😬

[2021-09-16 04:01] negz commented on #176
I don't think this is the case anymore - we actually don't tend to write tests for referencers anymore since they're now relatively thin wrappers around `github.com/crossplane/crossplane-runtime/pkg/reference`. I suspect this issue pertained to the older style of references, where more of the logic was contained in each reference implementation.

[2021-09-16 04:01] #176 closed

[2021-09-16 04:03] negz commented on #314
I think this was fixed by https://github.com/crossplane/provider-gcp/pull/322f - please correct me if I'm wrong.

[2021-09-16 04:03] #314 closed

[2021-09-16 08:49] b4nst commented on #352
Hey @turkenh, thanks for working on that! I suspect the issue you're facing is you're lacking [private services access](https://cloud.google.com/sql/docs/mysql/configure-private-services-access#configure-access). I think you can enable it directly through crossplane, but I did it manually for testing purposes.

Regarding the instance, I'm creating it from scratch with the crossplane manifest.

[2021-09-16 11:01] turkenh commented on #352
Thanks @b4nst, this did help and I could reproduce on my side.

I also found the problem, which is `privateNetwork` field indeed expects the resource link for the network (which is indeed [documented](https://doc.crds.dev/github.com/crossplane/provider-gcp/database.gcp.crossplane.io/CloudSQLInstance/v1beta1@v0.18.0#spec-forProvider-settings-ipConfiguration-privateNetwork) in the field description)

[2021-09-16 11:02] turkenh commented on #352
It is kind of working as expected (as documented), but definitely improve this for a better UX.

The most straightforward solution would be to return a proper error if `privateNetwork` field is a resource URL.

[2021-09-16 11:46] b4nst commented on #352
Gotcha, thanks for the details!

[2021-09-16 20:33] #352 closed

[2021-09-17 09:14] turkenh commented on #371
@ktroyer thanks for reporting.
Just opened a [PR](#375) fixing this, please have a look and add your review.

[2021-09-17 12:39] muvaf commented on #130
@kferrone yes, only fully XRM-compliant CRDs are bumped to v1beta1.

[2021-09-17 12:59] #371 closed

[2021-09-22 16:12] ktroyer commented on #371
Hi @turkenh , we have built provider-gcp images with this code change and this solves our issue nicely.  Thank you for the very quick turnaround on this.

[2021-09-22 20:37] fahedouch commented on #370
I will give a try

[2021-09-23 15:52] turkenh commented on #235
I no longer observe this behaviour with the new versions of GKE.

[2021-09-23 15:52] #235 closed

[2021-09-23 15:54] turkenh commented on #186
I recently verified that NodePools working as expected while working on https://github.com/crossplane/provider-gcp/issues/361

[2021-09-23 15:54] #186 closed

[2021-09-23 19:51] negz opened #378 "Allow a PubSub `Topic` to reference a KMS `CryptoKey`."
### What problem are you facing?

https://github.com/crossplane/provider-gcp/blob/80f90cf8ffd2fa8edc1f8c90594a9922afd6ccac/apis/pubsub/v1alpha1/topic_types.go#L42

The above TODO indicates we'd like to add a referencer to support referencing a KMS key from a pubsub topic. I believe we've added support for KMS keys since the TODO was written.

### How could Crossplane help solve your problem?

We s

[2021-09-23 21:29] #378 closed

[2021-09-25 15:32] AaronME opened #381 "Cannot create GKE Admin role permissions with current IAM Resource"
### What problem are you facing?
When we attempt to grant a ServiceAccount resource GKE Cluster Admin, we see the following error:
[code]

It appears that this role can only be assigned as a binding on the Projects api, not as a policy on a ServiceAccount.

### How could Crossplane help solve your problem?
Implement bindings on the projects API for GCP.

[2021-09-28 14:32] nielsdemoen commented on #381
I am getting this too, regardless of which role I try, everything fails with `create failed: cannot set policy of CryptoKey: googleapi: Error 400`

What am I doing wrong?

Sample SA and SAPolicy:

[code]

Which causes:

`Warning  CannotCreateExternalResource  16s (x10 over 23s)  managed/serviceaccountpolicy.iam.gcp.crossplane.io  cannot set policy of CryptoKey: googleapi: Error 400: Role roles/clo

[2021-10-01 11:27] jesumyip opened #382 "issue with spec.forProvider.addonsConfig.networkPolicyConfig when using provider-gcp"
Environment:
1. Cluster version: 1.20.9-gke.1001
2. Using gcloud binary in Google Cloud Shell.
3. Crossplane version 1.4.1.
4. Crossplane provider-gcp version 0.18.0.

Description of problem:
1. Create a nodepool + GKE cluster using the following YAML manifests:
[code]

2. Cluster and nodepool creation are successful. However, cluster status is stuck at "RECONCILING" for a very long time (did not

[2021-10-01 15:27] turkenh commented on #382
@jesumyip thanks a lot for reporting and the detailed steps!

Since it is also happening with gcloud cli I would suspect this to be GCP issue. I am wondering if this is specific to a k8s version?

[2021-10-02 04:26] jesumyip commented on #382
Repeated the test with **spec.forProvider.initialCluster = 1.18**, and **spec.forProvider.addonsConfig.networkPolicyConfig.disabled = true**

[code]

Cluster becomes normal after about 6minutes:
![image](https://user-images.githubusercontent.com/87511866/135703247-efe4c4c8-8db5-4f47-bf2b-6824253e59dc.png)

Then, execute `gcloud container clusters update gke-crossplane-cluster4 --update-addons=Netw

[2021-10-02 04:56] jesumyip commented on #382
Enabling the network policy using GCP's web GUI also produces the same result.

![image](https://user-images.githubusercontent.com/87511866/135703981-73180f63-5101-4378-9393-229ef1546f00.png)

![image](https://user-images.githubusercontent.com/87511866/135703983-42c213dc-4e1e-455e-8cf4-309360ddb2c5.png)

![image](https://user-images.githubusercontent.com/87511866/135704055-f1589d17-408b-4712-a12d-

[2021-10-05 07:58] nlamirault opened #385 "GKE cluster without Cloud Run: error on configuration"
### What happened?

Create a cluster with CloudRun disabled, i've got this error :

[code]

with configuration:

[code]

Works fine with:

[code]

### How can we reproduce it?

### What environment did it happen in?
Crossplane version: 1.4
Provider GCP : 1.18.0

[2021-10-06 22:41] Feggah opened #388 "Support for MasterHeartbeatPeriod for Cloud SQL"
### What problem are you facing?
I need to configure a Cloud SQL replica instance with `MasterHeartbeatPeriod` replica configuration option, which is not supported currently by this provider

### How could Crossplane help solve your problem?

Adding support for [MasterHeartbeatPeriod](https://github.com/googleapis/google-api-go-client/blob/055f112357aa38dc513259f83502b39dfd6d9339/sqladmin/v1/sqlad

[2021-10-06 22:52] Feggah opened #389 "Add referencer and selector option for masterInstanceName in Cloud SQL"
### What problem are you facing?
Building compositions which creates master and replica databases instances can be challenging because `masterInstanceName` is only supported by passing the master name directly.

This could be solved by just patching the name to the field. But we have 2 problems with this approach:

- `masterInstanceName` needs to be in the format `<project-id>:<instance-name>`. Fo

[2021-10-08 21:34] BigSammich opened #392 "Replica Names list for primary instance doesn't populate correctly"
### What happened?
Scenario 1: `CloudSQLInstance` resources that have more than one replica created don't have their ReplicaNames list populated correctly.

Below image shows cloudsql instance response from GCP API
![image](https://user-images.githubusercontent.com/5014469/136626061-f55f897d-8553-4066-987c-992c54162780.png)

Below image shows `CloudSQLInstance` resource that provider-gcp is managi

[2021-10-13 20:57] denist-huma commented on #138
@hasheddan I have exactly the same issue you described. It causes that I cannot make a GCS private bucket with XP, my main use case is not satisfied. I want to have both "not public" and uniform access. Currently I have "ACLs" and "fine-grained"

storage/browser shows
![image](https://user-images.githubusercontent.com/77341482/137211157-42ebe8a4-7367-49f8-ab8d-d3054d035ee3.png)

crossplane/provide

[2021-10-21 05:55] #296 closed

[2021-10-21 13:01] MichaelSp opened #397 "CloudSQL Connection secrets looses `password`"
### What happened?

I've created a CloudSQL, the secret in `writeConnectionSecretToRef` is created and populated properly. Now after a while I noticed that referenced secret is missing. And sometimes only the `password` field in the secret is missing.

### How can we reproduce it?

That part is not quite clear to me. I'm using https://Gardener.cloud as a distribution. They have a feature called [h

[2021-10-21 14:56] MichaelSp commented on #397
btw: I'm also using ArgoCD to maintain the resources

[2021-10-21 16:03] muvaf commented on #397
Hi @MichaelSp ! The password is available only during the creation of the resource and we keep it in the `Secret`. So, I'd suggest checking your flow for recreations, i.e. whether that `Secret` is deleted at some point and `provider-gcp` had to re-create it. In such cases, there is no way to know the password.

One way to prevent this is that for such sensitive information, we expose an [input sec

[2021-10-22 18:14] knelasevero opened #399 "Support for GCP Secret Manager Secret resource"
### What problem are you facing?
We are maintaining a project for secret synchronization (from external providers to Kubernetes secrets) and we are getting requests to do the reverse, getting stuff and throwing at external providers.

Example requests:

https://github.com/external-secrets/external-secrets/issues/347

https://github.com/external-secrets/external-secrets/issues/249

We thought about

[2021-10-25 18:34] denist-huma opened #401 "XP generates name too long to fit the GCP ServiceAccount IAM API limit of 30"
### What happened?

[code]

### How can we reproduce it?

Create CRDs from https://gist.github.com/denist-huma/585b0f867ffcd6d62340491fe3167980
Create a claim: with name "gcp-bucket-test-storage"

[code]

### What environment did it happen in?
Crossplane version: 1.4.1
crossplane-provider-aws: v0.19.1

[2021-10-26 00:36] #399 closed, assigned to nobody

[2021-11-02 22:11] sergenyalcin commented on #360
This issue has been closed because it is a duplicate of #329

[2021-11-02 22:22] ulucinar commented on #360
Thanks @sergenyalcin for finding out the duplicate issue. Closing this one as discussed.

[2021-11-02 22:22] #360 closed

[2021-11-02 22:45] sergenyalcin commented on #329
Hi all, while looking this issue, I noticed a few things that I would like to share with you.

Firstly (to understand the api of the resources), I started to look the API document of the Router REST resource and I observed a NAT array in the fields list. From this point, I started to investigate if NAT is a separate REST resource.

When I looked at NAT's reference document (https://cloud.google.co

[2021-11-03 14:06] muvaf commented on #329
@sergenyalcin thanks a lot for the detailed write-up! It seems like NAT is a resource belonging to `Router` in the API but it `gcloud` and `terraform` decided to treat it like a separate resource. Google DCL, which is what Terraform GCP provider is in the process of migrating to, seems closer to the API where the `nats` array exists [as property](https://github.com/GoogleCloudPlatform/declarative-

[2021-11-04 07:58] turkenh commented on #329
FWIW, just made another pass on the open PR adding `Router` and it looks like support for NAT is already implemented as part of Router there: https://github.com/crossplane/provider-gcp/pull/341/files#diff-3a20065320d8d1ed51b585c7687efc22871b491a427881b8c42dc7ab01d815e4R12

[2021-11-15 08:47] sergenyalcin opened #404 "Artifact Registry Support"
### What problem are you facing?

There is currently no support for Artifact Registry resource. We are trying to develop support for another registry object (Container Registry) with the following issue/pr #297 #403

However, Google has announced that "New features will only be available in Artifact Registry. Container Registry will only receive critical security fixes" and recommends Artifact Reg

[2021-11-23 18:05] #312 closed

[2021-11-24 12:00] Demonsthere opened #405 "Problems during upgrading from 0.17.1 to 0.18"
### What happened?

Hello there!
I was following your [instruction](https://github.com/crossplane/provider-gcp/blob/master/docs/upgrading-to-v0.18.x.md) on upgrade and migration and encountered this problem during upgrading the provider (step 7).

Right now my new provider is installed but not ready:
[code]
I was able to trace it to a problem with `ProviderRevision`:

[code]

However I do not see

[2021-11-24 14:38] turkenh commented on #405
@Demonsthere I believe this is related to https://github.com/crossplane/crossplane/issues/2609

Deploying providers with crossplane helm charts as parameters to helm was problematic and was causing issues during provider upgrades prior to [this fix](https://github.com/crossplane/crossplane/pull/2625). While preparing the guide, I've tested the steps with providers installed with Crossplane CLI and

[2021-11-24 14:47] Demonsthere commented on #405
Hi @turkenh and thanks for the response!

The problem is that currently, there are no active/working provider pods on my setup. You are correct, we have been using helm for the provider installation and tried to simply switch the version:
[code]

The result of that was as described.

However, since that I have tried restoring the previous step (delete the provider as per https://crossplane.io/docs

[2021-11-30 12:17] Demonsthere commented on #405
Update: in the end we were able to upgrade/migrate our environments, by firstly upgrading crossplane to 1.5 and then updating the provider via the helm package. The downside of this approach is that the provider name is derived from the initial version (17.1) which looks silly, but works.

Renaming the provider leads to the "already controller by provider" issue. Do we need to remove the provider

[2021-11-30 23:57] negz commented on #392
@BigSammich In step 2 of scenario 1, and step 3 of scenario 2, how are you creating/promoting replicas? If you're doing so outside of Crossplane the behaviour you're seeing is expected; the `spec` of the Crossplane CloudSQLInstance is considered to be 'authoritative' and won't be updated to reflect changes made outside of Crossplane - instead Crossplane will try to undo those changes.

[2021-12-05 14:52] BigSammich commented on #392
@negz all replica CREATION was done natively by deploying a replica claim and having Crossplane (provider-gcp) create the instance.

Replica PROMOTION was done outside of Crossplane (via the GCP console), because there is no replica promotion functionality within provider-gcp that I'm aware of. I guess this brings up my (incorrect) assumption that if functionality doesn't exist within Crossplane (

[2021-12-07 20:07] turkenh commented on #405
Great, thanks for the update @Demonsthere!

I am not aware of a way to change `.metadata.name` of a k8s resource which is where the provider name is coming from.
This could be achievable by creating another Provider CR with the expected name and then changing owner/controller references in the child object but I would expect this to be quite tricky since some mistake might end up having resources

[2021-12-07 20:12] #297 closed

[2021-12-08 09:25] hferentschik opened #407 "Support regional static external IP addresses"
### What problem are you facing?

I create a GKE cluster using Crossplane. On this cluster, I install via the Helm provider the NGINX Ingress controller.
In order to be able to then create a DNS record (via `ResourceRecordSet`) I need to know the load balancer IP for the Ingress controller.

Ideally, I would create the IP upfront (using `GlobalAddress`) and then pass it to the Helm install via `--

[2021-12-08 09:47] hferentschik commented on #407
If there is agreement that the name should be changed, one could deprecate `GlobalAddress` and introduce `ExternalAddress` and then eventually remove `GlobalAddress`.

[2021-12-08 13:28] hferentschik commented on #407
This is also relevant in this context. The Google Docs documentation about static external IP addresses - https://cloud.google.com/compute/docs/ip-addresses/reserve-static-external-ip-address

[2021-12-16 10:05] Feggah commented on #407
Thanks for raising this issue, @hferentschik !

I agree with you that the parameter `region` could be misleading for the name `GlobalAddress`, and in my opinion, the best solution that we can get would be creating another resource or renaming `GlobalAddress`.

I know that `Address` and `GlobalAddress` are almost identical (the only difference in the SDK is the HTTP methods, where you need to send

[2021-12-16 13:28] hprotzek commented on #295
Using crossplane here with kubevela and the inability to remove non empty buckets can end up in a stuck state of the deployed resources. +1 for the `forceDelete` attribute if this is possible to implement

[2021-12-17 07:46] hferentschik commented on #407
Cool. IMO renaming would be the best. Independent from the missing region, I have my issue with _GlobalAddress_ or _google_compute_global_address_ (as it is called in Terraform). As a user trying to create infrastructure I want an external IP address. IP addresses are for me per definition "global", so I have been scratching my head over this naming before.

Right, the underlying REST API makes th

[2022-01-03 12:11] mogensen opened #410 "Unable to remove last `authorizedNetworks` for `CloudSQLInstance`"
### What happened?

When managing CloudSQL instances with Crossplane, we can set multiple different `authorizedNetworks` to allow for public access to the instance.

Adding new CIDR ranges and removing old ranges seems to work as expected. This bug surfaces when removing the last `authorizedNetwork` from the list. When we do this, Crossplane chooses to import the existing `authorizedNetwork` from

[2022-01-03 13:18] turkenh commented on #410
Related issue: https://github.com/crossplane/crossplane-runtime/issues/105

[2022-01-03 13:19] turkenh commented on #405
Closing this ticket since it looks like migration itself succeeded.

Feel free to re-open or create another issue if you're still having issues that could be related.

[2022-01-03 13:19] #405 closed

[2022-01-07 18:44] #407 closed

[2022-01-12 17:46] mcbenjemaa commented on #392
I have worked with those scenarios a bit.

- I would say, since those resources are created by crossplane, thus the `spec` is the source of truth, as @negz  mentioned it will try to update the instance! But GCP API doesn't accept it so in every reconciliation loop got `uptodate: false` and will try `Update()`.

Therefore, Scenario 1 @BigSammich  you should definitely adjust your `spec` , it's not

[2022-01-23 10:26] brandonjbjelland opened #412 "Improve provider coverage via code generation"
### What problem are you facing?

Coverage of the GCP API here is somewhat low and the overhead of adding individual managed resources is rather high and somewhat slow going. Platform engineers working within the context of a cloud provider will need to cover considerable amount of API surface area not yet found here. Org policies, projects, folders, all the network primitives, log sinks, ect. are

[2022-01-24 04:03] jbw976 commented on #412
Thank you for bringing this up @brandonjbjelland and for sharing your well informed ideas

@muvaf wrote up a design doc about the strategy that the Crossplane project will use for achieving provider coverage in the short/med/long term, you can read all the details here: https://github.com/crossplane/crossplane/blob/master/design/design-doc-provider-strategy.md

tl;dr: Short-Medium term will be the

[2022-01-24 06:22] thschue opened #413 "Using a service account for gke is not working"
### What happened?

When following the example (https://github.com/crossplane/provider-gcp/blob/master/examples/gke/gke.yaml), a service account for the connection to the newly created gke cluster should be created.

When applying this sample, it seems like the field serviceAccount does not exist in the Custom Resource Definition:

```error: error validating "sample.yaml": error validating data: V

[2022-01-24 06:34] brandonjbjelland commented on #412
My fault @jbw976 - I very clearly missed that doc! @muvaf 's analysis looks exceptional. 👏  With as much work is on your collective plate, it's probably the right move leapfrogging DD/protobuf GCP sources in favor of DCL. Looking forward to that eventual future!

Re: provider-jet-gcp - I noticed the most recent release `0.2.0-preview` was essentially what I'm after but given that it's the first an

[2022-01-24 06:34] #412 closed

[2022-02-08 14:34] RoryDoherty opened #415 "Generated KubeConfig file cannot perform any operations on the created cluster"
### What happened?

Created a GKE Cluster using provider-gcp with the following:
`spec.masterAuth.clientCertificateConfig.issueClientCertificate` set to `true`
Grabbed the kubeconfig from the cluster and tried to use it to list pods in the newly created cluster

[code]

### How can we reproduce it?

1. Create a GKE cluster using provider-gcp with `spec.masterAuth.clientCertificateConfig.issueClien

[2022-02-13 18:25] #173 closed

[2022-03-11 18:25] davidcollom opened #420 "Deleting a `NodePool` resource, deleted our GKE Cluster"
### What happened?
When creating a `NodePool` resource with a pre-exisitng GKE Cluster, the nodepool is created, **HOWEVER** when deleting said NodePool resource, the whole cluster is deleted.

[code]

### How can we reproduce it?
Create a GKE Cluster outside of crossplane, apply the above resource, and delete once its synced

### What environment did it happen in?
Crossplane version: `v1.6.4`
Pro

[2022-03-11 18:25] #420 closed

[2022-03-11 18:27] davidcollom commented on #420
Turns out a team member deleted the cluster, shortly before we deleted the `NodePool` 🙈

[2022-03-15 08:16] insider89 opened #423 "Crosspalne GCP CloudSQL instance create separate password for read replica"

[2022-03-21 09:58] insider89 opened #422 "GCP provider pubsub topic message retention"
### What problem are you facing?
I want to create GCP pubsub topic with retention period of 7d. Looks like current latest GCP provider version(v0.20) doesn't support it.
[Gcloud](https://cloud.google.com/sdk/gcloud/reference/pubsub/topics/create) utility support it: `--message-retention-duration=MESSAGE_RETENTION_DURATION`

### How could Crossplane help solve your problem?
Add support of `message-

[2022-03-25 22:37] mmosttler commented on #294
are there any updates on this?  We have a need to be able to create a cloud secret manager secret declaratively where we can enforce some standards and set permissions.  For our case we expect the secret value to be provided in a different way (not in this manifest).

[2022-03-29 18:30] CarpathianUA opened #425 "[Docs: cache.gcp.crossplane.io/v1beta1] Redis 6.x support"
Currently, there is no support in `cache.gcp.crossplane.io/v1beta1` for Redis 6.

It's the latest Redis version available for provisioning in GCP. Would be great to have it on board.

Thank you in advance!

[2022-03-29 19:29] CarpathianUA commented on #425
I've find out that actually Redis 6 is supported if `redisVersion: REDIS_6_X` is supplied (instead of `redisVersion: REDIS_6_0`)

Would appreciate if documentation will be updated as well!

[2022-04-07 08:32] laetho commented on #329
It's currently not possible to create a router and a nat from the Router resource alone. Atleast I have not figured out how to do it. The following occures, event + payload:

[code]

[code]

[2022-04-07 10:50] dsiguero commented on #294
Wasn't crossplane meant to have 100% coverage for cloud resources? https://blog.upbound.io/cloud-service-coverage/

[2022-04-07 14:37] Feggah commented on #294
@dsiguero We have achieved 100% coverage with the new Terrajet providers, as highlighted in the blog post that you mentioned:

Note that [provider-jet-gcp](https://github.com/crossplane-contrib/provider-jet-gcp) is another provider, this is the [provider-gcp](https://github.com/crossplane/provider-gcp). We are currently trying to simplify this for our users by merging them (https://github.com/cros

[2022-04-15 21:06] wilhelmi commented on #329
On trying to setup a NAT router using v0.21.0 I am running into this issue:

[code]
I am getting the following error:

cannot render composed resource from resource template at index 3: cannot use dry-run create to name composed resource: Router.compute.gcp.crossplane.io "test-environment-ldrsc" is invalid: spec.forProvider.nats.subnetworks.sourceIpRangesToNat: Unsupported value: []interface {}{"P

[2022-04-21 05:16] aswindevs commented on #206
+1 for Pub/Sub notifications for Cloud Storage

[2022-04-25 08:49] danielinclouds opened #429 "Add backup Retention Settings to CloudSQLInstance"
### What problem are you facing?

Currently, there is no way to control backup retention for CloudSQLInstance.

### How could Crossplane help solve your problem?

I would like to control CloudSQLInstance backup retention settings. This feature is implemented in `provider-jet-gcp` [here](https://doc.crds.dev/github.com/crossplane-contrib/provider-jet-gcp/sql.gcp.jet.crossplane.io/DatabaseInstance/v

[2022-04-26 01:52] anilnokia opened #430 "GCP-provider not working"
Hi, I installed everything but not able to install gcp-provider. Keep getting:
error: unable to recognize "provider.yaml": no matches for kind "ProviderConfig" in version "gcp.crossplane.io/v1beta1"

Could you please help?

Thanks,

Anil

[2022-04-26 12:12] Feggah commented on #430
Hey @anilnokia , thanks for raising this issue!

What version of Crossplane is installed in your cluster? What version of provider-gcp?

Also, can you please send here the output of the following commands:
[code]

[2022-04-26 12:37] anilnokia commented on #430
Hi,

I installed 1.7 version of both. But gcp is not showing me healthy. Can I delete and try to install again? I tried to delete but was not successful.
It seems like I am behind proxy so it is timing out. How can I fix this?

Thanks,

***@***.*** ~]$ kubectl describe configuration.pkg.crossplane.io/xp-getting-started-with-gcp
Name:         xp-getting-started-with-gcp
Namespace:
Labels:       <no

[2022-04-26 13:14] anilnokia commented on #430
docker search crossplane/getting-started-with-gcp
NAME      DESCRIPTION   STARS     OFFICIAL   AUTOMATED

From: Gabriel Ferreira ***@***.***>
Sent: Tuesday, April 26, 2022 9:05 AM
To: crossplane/provider-gcp ***@***.***>
Cc: Rana, Anil (Nokia - US/Murray Hill) ***@***.***>; Mention ***@***.***>
Subject: Re: [crossplane/provider-gcp] GCP-provider not working (Issue #430)

It seems like I am behind

[2022-04-26 13:36] anilnokia commented on #430
First of all I thank you very very much for replying to me. I really liked step by step instructions you have. I am so close to making this work and your help is invaluable.

Strange but when I put that in yaml file it still gives me timeout but manually I am able to pull it. Should I just pull on all cluster nodes?

Then I can try kubectl apply -f gcp.yaml

From: Gabriel Ferreira ***@***.***>
Sen

[2022-04-26 13:40] anilnokia commented on #430
It still times out! I do not understand! I got image on all nodes

Warning  UnpackPackage  45s   packages/configuration.pkg.crossplane.io  cannot unpack package: failed to fetch package digest from remote: Get "https://index.docker.io/v2/": dial tcp 3.225.133.50:443: i/o timeout
  Warning  UnpackPackage  14s   packages/configuration.pkg.crossplane.io  cannot unpack package: failed to fetch package

[2022-04-26 14:54] anilnokia commented on #430
It still fails:

error: unable to recognize "STDIN": no matches for kind "ProviderConfig" in version "gcp.crossplane.io/v1beta1"

I also tried v1

From: Gabriel Ferreira ***@***.***>
Sent: Tuesday, April 26, 2022 9:18 AM
To: crossplane/provider-gcp ***@***.***>
Cc: Rana, Anil (Nokia - US/Murray Hill) ***@***.***>; Mention ***@***.***>
Subject: Re: [crossplane/provider-gcp] GCP-provider not working

[2022-04-26 14:56] anilnokia commented on #430
It is local on prem

From: Gabriel Ferreira ***@***.***>
Sent: Tuesday, April 26, 2022 10:55 AM
To: crossplane/provider-gcp ***@***.***>
Cc: Rana, Anil (Nokia - US/Murray Hill) ***@***.***>; Mention ***@***.***>
Subject: Re: [crossplane/provider-gcp] GCP-provider not working (Issue #430)

Is your cluster remote or local?

—
Reply to this email directly, view it on GitHub<https://github.com/crosspl

[2022-04-26 14:59] Feggah commented on #430
I'm fairly sure that's commucation problem between your cluster and the registries rather than a Crossplane issue.

I think I can't help you more than that because I don't know about your context. If you just want to test Crossplane, I think its easier if you use a local cluster. I would recommend trying it with [minikube](https://minikube.sigs.k8s.io/docs/start/), [kind](https://kind.sigs.k8s.io/

[2022-04-26 19:54] anilnokia commented on #430
Ok so I created cluster on external network and now that part is working. I would like to create a sample gke cluster. But it fails. Do you have simple sample yaml file to create gke cluster?

Thanks,

From: Gabriel Ferreira ***@***.***>
Sent: Tuesday, April 26, 2022 11:00 AM
To: crossplane/provider-gcp ***@***.***>
Cc: Rana, Anil (Nokia - US/Murray Hill) ***@***.***>; Mention ***@***.***>
Subject

[2022-04-26 19:56] anilnokia commented on #430
This is the error I get:

unable to recognize "gke.yaml": no matches for kind "GKECluster" in version "container.gcp.crossplane.io/v1beta1"
unable to recognize "gke.yaml": no matches for kind "NodePool" in version "container.gcp.crossplane.io/v1alpha1"

Here is my yaml:

apiVersion: container.gcp.crossplane.io/v1beta1
kind: GKECluster
metadata:
  name: gitops
spec:
  forProvider:
    location: us-

[2022-04-26 20:31] Feggah commented on #430
You can check what kinds are available for provider-gcp in [this website](https://doc.crds.dev/github.com/crossplane/provider-gcp). I think the provider is now healthy, right?

[2022-04-26 21:10] anilnokia commented on #430
Yes it is.

Thanks
________________________________
From: Gabriel Ferreira ***@***.***>
Sent: Tuesday, April 26, 2022 4:31:32 PM
To: crossplane/provider-gcp ***@***.***>
Cc: Rana, Anil (Nokia - US/Murray Hill) ***@***.***>; Mention ***@***.***>
Subject: Re: [crossplane/provider-gcp] GCP-provider not working (Issue #430)

You can check what kinds are available for provider-gcp in this website<https

[2022-04-26 21:58] anilnokia commented on #430
I modified kind and now it says created bit when I do describe on cluster I get following. Could you please help? I am so close to it!

Last Transition Time:  2022-04-26T21:42:33Z
    Message:               connect failed: ProviderConfig.gcp.crossplane.io "default" not found
    Reason:                ReconcileError
    Status:                False
    Type:                  Synced
Events:
  Type

[2022-04-27 08:35] Feggah commented on #430
As you can see in your logs:
[code]

You need to create a ProviderConfig and reference it in your managed resources. I would recommend you to read more the [Crossplane documentation](https://crossplane.io/docs/v1.7/) to understand these resources

[2022-04-27 12:11] anilnokia commented on #430
Thanks.

So I tried mysql example and it works fine. Is there an example to create gke cluster for this provider? That is what I am looking for. Example I ran had trouble. Please let me know if you have very simple gke cluster example which I can use and build on the top of it.

Thanks a million for your help.

From: Gabriel Ferreira ***@***.***>
Sent: Wednesday, April 27, 2022 4:36 AM
To: crosspl

[2022-04-27 13:04] Feggah commented on #430
I guess your manifest for the GKE cluster should be fine, you just need to reference the ProviderConfig that you have installed in your cluster. (if you don't have one, you need to create it. [Check the documentation](https://crossplane.io/docs/v1.7/getting-started/install-configure.html#get-gcp-account-keyfile) to do it)

`kubectl get providerconfig` will output its `NAME`, then you can use it in

[2022-04-27 13:07] anilnokia commented on #430
Ok thanks.

I am using an example. Now a get permission issue:

observe failed: cannot get GKE cluster: googleapi: Error 403: Required "container.clusters.get" permission(s) for "projects/astral-field-348017/zones/us-east1-b/clusters/example-cluster"., forbidden
    Reason:                ReconcileError

From: Gabriel Ferreira ***@***.***>
Sent: Wednesday, April 27, 2022 9:05 AM
To: crossplane/pro

[2022-04-27 15:15] anilnokia commented on #430
It seems to work now after I added more roles to service account!

Thanks

From: Gabriel Ferreira ***@***.***>
Sent: Wednesday, April 27, 2022 9:05 AM
To: crossplane/provider-gcp ***@***.***>
Cc: Rana, Anil (Nokia - US/Murray Hill) ***@***.***>; Mention ***@***.***>
Subject: Re: [crossplane/provider-gcp] GCP-provider not working (Issue #430)

I guess your manifest for the GKE cluster should be fin

[2022-04-27 16:36] #430 closed

[2022-04-27 20:24] anilnokia opened #431 "crossplane install of gcp behind proxy is timing out"
I have been trying to install gcp-provider but it keep failing behind proxy server. My K8 cluster works fine for any docker pull. But for this command:

kubectl crossplane install configuration registry.upbound.io/xp/getting-started-with-gcp:v1.7.0

I keep getting:

  Warning  UnpackPackage  14s (x3 over 73s)  packages/configuration.pkg.crossplane.io  cannot unpack package: failed to fetch package

[2022-04-28 19:34] anilnokia commented on #431
It works now.

[2022-04-28 19:34] #431 closed

[2022-04-28 20:16] Feggah commented on #431
What was the problem, @anilnokia ?

Is it Crossplane related?

[2022-04-28 20:20] anilnokia commented on #431
Since I am behind proxy server, I had to update values.yaml file with extraEnvVarsCrossplane: and add my proxy servers. After that, I installed crossplane again.

Thanks,

From: Gabriel Ferreira ***@***.***>
Sent: Thursday, April 28, 2022 4:17 PM
To: crossplane/provider-gcp ***@***.***>
Cc: Rana, Anil (Nokia - US/Murray Hill) ***@***.***>; Mention ***@***.***>
Subject: Re: [crossplane/provider-gcp

[2022-05-09 12:06] evgenyKharitonov opened #432 "Add support to override endpoint and more ClientOptions"
### What problem are you facing?
At the moment we can't override the default endpoint nor connect without authentication (or using any other `ClientOption` when connecting to GCP API).

The motivation - we want to use Crossplan with PubSub emulator in our dev envs and to be able to set the `Provider` to comunicate with the Emulator.

### How could Crossplane help solve your problem?
To add the abi

[2022-05-14 12:41] aaronschweig opened #435 "NodePool infinitely reconciles"
### What happened?

Hello!

I was introducing crossplane into my company within the last few weeks. It works great, but one thing I noticed is an Issue with the `NodePool` CRD.

I created a `Cluster` resource and `NodePool` resource simultaneously. This took then a while, which is totally normal. After a few minutes the `Cluster` CRD reached the ready state and remained in there. So everything was

[2022-05-15 13:32] edenreich commented on #385
I can confirm this bug, had the same issue, setting cloudRunConfig to disabled requires apparently loadbalancerType...strange behaviour..

[2022-05-15 14:01] edenreich opened #436 "GKE - v1beta1 forbidden"
### What happened?

Trying to create a minimal GKE cluster on GCP with the following configurations:
[code]

[code]

### How can we reproduce it?
1. Create a k3d cluster:
[code]
2. Install crossplane using helm:
[code]
3. Create a service account for crossplane in GCP:
[code]
4. Grant this service account owner permissions on the project level(on production you want to give it only roles which you

[2022-05-17 09:39] #385 closed

[2022-05-30 00:22] panjek26 commented on #423
hello, need your help to provide read replica ?
is is using 2 yaml file?
how about if we using 1 yaml file ?

[2022-05-30 06:38] insider89 commented on #423
Yes, I am using 2 yaml files. Don't know how to do it with 1 yaml file.

[2022-05-30 07:34] panjek26 commented on #423
can you give me the workaround to read replica instance using crossplane ?
 I am a little bit confused because the documentation so minim

[2022-05-30 07:59] insider89 commented on #423
I don't have workaround. I am using 2 files, which you can see in the issue description.

[2022-06-07 20:57] #432 closed

[2022-06-09 15:16] hsharrison opened #439 "Support loggingConfig for GKE clusters"
### What problem are you facing?
I've configured a custom fluent-bit deployment in a crossplane-managed Cluster in GKE. I'm getting duplicated logs because the GKE fluentbit and the custom fluentbit are both parsing the stdout/stderr of the containers in the cluster.

The typical recommendation in this case, as far as I understand, is to configure the cluster to [only collect system logs](https://

[2022-06-17 01:21] darnabas commented on #431
hello @anilnokia, I'm running into the same problem here and i was wondering how you setup your extraEnvVarsCrossplane.

I tried applying the proxy vars and it's still not working for some reason...  is this correct?

extraEnvVarsCrossplane:
  http_proxy: "http://..."
  https_proxy: "http://.."

[2022-06-17 11:44] anilnokia commented on #431
Try period instead of underscore. Also add no.proxy of your K8 subnets.

extraEnvVarsCrossplane:
  http.proxy: "http://"
  https.proxy: "http://"
  no.proxy: "10.96.0.0/16,127.0.0.1,192.168.0.0/16"

From: darnabas ***@***.***>
Sent: Thursday, June 16, 2022 9:21 PM
To: crossplane-contrib/provider-gcp ***@***.***>
Cc: Rana, Anil (Nokia - US/Murray Hill) ***@***.***>; Mention ***@***.***>
Subject: Re

[2022-06-21 05:14] darnabas commented on #431
Thanks for the response.   Still having issues... :( will look into it a bit more.

[2022-06-23 08:54] muvaf commented on #338
cc @Ruhika1417

[2022-06-23 09:07] Ruhika1417 commented on #338
pls assign it to me @muvaf

[2022-06-23 12:16] muvaf opened #442 "DNS Policy resource"
### What problem are you facing?

Support for DNS policies is lacking.

### How could Crossplane help solve your problem?

Add a CRD and controller for that type using https://cloud.google.com/dns/docs/reference/v1/policies#resource

[2022-06-24 18:14] jensentanlo opened #443 "Add Shielded Node Field To Cluster CRD"
### What problem are you facing?
Shielded Nodes are the default on GKE, but there is no option to create a cluster without them.

### How could Crossplane help solve your problem?
Add the shielded node field in the same way that the GCP API handles it

shieldedNodes:
    enabled: true/false

[2022-06-24 20:56] bgrant0607 commented on #283
Some updates here:

Config Connector is now open source:
https://github.com/GoogleCloudPlatform/k8s-config-connector

It's partly built on:
https://github.com/GoogleCloudPlatform/declarative-resource-client-library

And partly on our Terraform provider:
https://github.com/GoogleCloudPlatform/k8s-config-connector/tree/master/third_party/github.com/hashicorp/terraform-provider-google-beta

I assume

[2022-06-24 22:51] negz commented on #283
Thanks for the updates @bgrant0607! I'm happy to see config connector has been open sourced. I'm supportive of folks using provider-kubernetes in combination with KCC if doing so makes sense for them. That said, I don't think it's sufficient as a replacement for a "true" Crossplane provider.

kstatus is great and something we may also adopt, but there are other useful patterns all Crossplane provi

[2022-07-11 20:25] CarpathianUA commented on #381
Any updates on when we expect bindings on the project's API for GCP to be implemented? Thanks in advance!

[2022-07-11 21:28] Feggah commented on #381
Hey @CarpathianUA , you can use any resource that this provider doesn't have yet with [provider-jet-gcp](https://doc.crds.dev/github.com/crossplane-contrib/provider-jet-gcp@v0.2.0-preview).

[2022-07-27 13:31] nataliyalevytska opened #445 "connect failed: cannot create new Sqladmin Service: unexpected end of JSON input"
**What happened?**

1. installed crossplane v1.8.0 & provider-gcp v0.21.0
2. created MySQLInstance claim in namespace
3. get the following on CloudSQLInstance

`Status:
  At Provider:
  Conditions:
    Last Transition Time:  2022-07-27T13:15:04Z
    Message:               connect failed: cannot create new Sqladmin Service: unexpected end of JSON input
    Reason:                ReconcileError

[2022-07-29 05:43] CalinFlorescu commented on #381
@Feggah, I've tried your suggestion, and indeed version v.0.2.0-preview has implemented the resources required to add finely graded policies to Service Accounts. The only issue is that I can't fetch that version yet, since I get an Unauthorized error. We need to wait until it's publicly available.

[2022-08-02 01:42] andrealmar opened #448 "Invalid URL links on doc.crd.devs"
https://doc.crds.dev/github.com/crossplane/provider-gcp/container.gcp.crossplane.io/Cluster/v1beta2@v0.21.0

Links displayed on:

forProvider -> location

and

forProvider -> locations

are invalid:

The links are:

- https://doc.crds.dev/compute/docs/regions-zones/regions-zones#available
- https://doc.crds.dev/compute/docs/zones#available

[2022-08-02 06:58] #442 closed

[2022-08-02 08:53] Ruhika1417 opened #449 "Add unit tests for DNS Policy resource"
### What problem are you facing?
Currently, there are no unit tests for the DNS Policy Resource.

### How could Crossplane help solve your problem?
It would be nice to have unit tests written for the newly implemented 'DNS Policy Resource`, just like we have them for other resources.

#### Do see:
https://github.com/crossplane-contrib/provider-gcp/tree/master/pkg/controller/dns
https://github.com/

[2022-08-03 20:38] andrealmar commented on #448
https://doc.crds.dev/compute/docs/networks-and-firewalls#networks is also invalid here: https://doc.crds.dev/github.com/crossplane/provider-gcp/container.gcp.crossplane.io/Cluster/v1beta2@v0.21.0#spec-forProvider-network

[2022-08-08 15:19] Feggah commented on #381
What do you mean by publicly available, @CalinFlorescu ?

I checked that there is an image with this tag on Docker Hub, you can see it [here](https://hub.docker.com/layers/provider-jet-gcp/crossplane/provider-jet-gcp/v0.2.0-preview/images/sha256-75e1ec90640e4a528d17f2607441a4f343e5568648b038cb2c0d9aff4564bd75?context=explore). Isn't it enough to pull the image when you create a `Provider` resource

[2022-08-08 15:34] Feggah commented on #448
Thanks for raising this issue, @andrealmar !

I think those links are missing the `https://cloud.google.com` prefix. You can check the invalid URL in the `Cluster` resource that you referenced here:

https://github.com/crossplane-contrib/provider-gcp/blob/bdadefaae43d6d08df5457c5da4d5951dc87fa8d/apis/container/v1beta2/cluster_types.go#L52-L60

Would you want to contribute that fix? I think it is g

[2022-08-08 17:03] CalinFlorescu commented on #381
@Feggah, my apologies, I made a mistake when fetching the provider and thought that the fetch access is restricted, so my comment above isn't valid.

[2022-08-08 19:47] stewartshea opened #450 "Support for managed prometheus configuration on GKE clusters."
### What problem are you facing?

This is a feature request to add support for the managed prometheus capability in the Cluster resource. Though, it might make sense to support a field that could take arbitrary input (such as  `extraArgs` often seen in helm values files) as a faster way to allow users to consume new features released by Google and supported here: https://cloud.google.com/kubernete

[2022-08-09 02:08] andrealmar commented on #448
Hi @Feggah

Ok leave it with me. I will review the links and open the PR so you can review it

[2022-08-13 01:09] johnstonmatt commented on #206
I'd like to see GCP compute engine instances please, the GCP analogue to https://doc.crds.dev/github.com/crossplane/provider-aws/ec2.aws.crossplane.io/Instance/v1alpha1@v0.30.0 if I am understanding things here

[2022-08-13 12:18] Feggah commented on #206
Hey @johnstonmatt , have you checked out the [provider-jet-gcp](https://doc.crds.dev/github.com/crossplane-contrib/provider-jet-gcp/compute.gcp.jet.crossplane.io/Instance/v1alpha2@v0.2.0-preview)? You can use this provider until we don't have this managed resource in provider-gcp.

[2022-08-14 08:06] Erez-Levi opened #451 "attaching roles to service accounts"
Hi,

I'm trying to create a service account in gcp, I’m having trouble with attaching roles to the service account, I tried using the ’’serviceAccountPolicy”, but I managed to add permissions to members for the  service account and I didn’t manage to attach roles to the actual service account.

I don't know if there is a way to do it right now, but I would like to know if I missed something.

Than

[2022-08-15 20:00] johnstonmatt commented on #206
Thanks for the fast reply!

I figured it was supported by the Jet API, but haven't tried it yet.

I'm in the process of deciding on using Terraform vs. Crossplane, and the Jet API seems like "Terraform with extra steps".

The obvious counter argument in favor of Jet is that when native support arrives in Crossplane we would be ready for it, which is why I'm interested in accelerating that developm

[2022-08-16 17:08] Feggah commented on #206
It is important to note that using a Jet or Native managed resources is just an implementation detail. Both of them work as expected. Terraform providers are powering the implementation of jet providers, but it doesn't have anything related to terraform in its schema.

IMO, deciding to use Terraform or Crossplane is one decision that doesn't affect Jet/Native managed resources. They are powering C

[2022-08-17 02:08] andrealmar commented on #448
@Feggah https://github.com/crossplane-contrib/provider-gcp/pull/452

[2022-08-19 11:50] hasheddan opened #453 "Use bundled packages and update CI to dual publish to DockerHub and Upbound Marketplace"
### What problem are you facing?

Currently, `provider-gcp` is only published to DockerHub, and is done so as two separate images:
- `crossplane/provider-gcp`
- `crossplane/provider-gcp-controller`

As of [Crossplane `v1.6.0`](https://github.com/crossplane/crossplane/releases/tag/v1.6.0), "bundled provider packages" are now supported, meaning that only one image needs to be published. [Crossplane

[2022-08-20 08:10] bartse opened #454 "CloudSQLInstance contantly being updated"
### What happened?
1. Using crossplane `1.9.0` + gcp provider `0.21.0` running on GKE `1.21`
2. Setup a CloudSQLInstance using below config
[code]
3. The provider is constantly updating the instance to a point where it fails
[code]
<img width="1295" alt="image" src="https://user-images.githubusercontent.com/25744354/185735181-602e0e8a-947e-4e14-abca-617569158bec.png">

I did find earlier bug repor

[2022-08-20 10:33] danielinclouds opened #455 "DNS Managed Zone resource"
### What problem are you facing?
Support for Managed Zone resources is lacking.

### How could Crossplane help solve your problem?
Add a CRD and controller for that type using
https://cloud.google.com/dns/docs/reference/v1/managedZones

[2022-08-22 17:16] Feggah commented on #455
Hey @danielinclouds, thanks for raising this issue!

While we don't have support for this managed resource in provider-gcp, have you checked out [provider-jet-gcp](https://doc.crds.dev/github.com/crossplane-contrib/provider-jet-gcp/dns.gcp.jet.crossplane.io/ManagedZone/v1alpha1@v0.2.0-preview)?

[2022-08-23 12:58] danielinclouds commented on #455
Hey, @Feggah I opened this issue as I want to work on a PR that adds Managed Zone functionality to this provider.

[2022-08-23 13:33] Feggah commented on #455
Awesome! Please, reach out if you need guidance with something 😄

[2022-09-01 09:19] miglocatiq commented on #454
I am seeing the same behavior using the same versions of crossplane, gcp-provider en GKE as @bartse. I had to disable public network ( for which i couldn't find an option in crossplane). Afterwards the DB is constantly being updated.

[2022-09-07 23:08] #453 closed

[2022-09-14 19:01] #448 closed

[2022-09-19 10:35] jesumyip opened #459 "provider-gcp cannot name nodepool created"
I am using

[code]

I then attempt to write a Composition to create a GKE cluster, a nodepool, a VPC and subnet.

In my cluster, I have the following definition:

[code]
which then creates a cluster with the name `dama-io-southeastasia-collect-cluster`. I then have a nodepool:

[code]
which is pretty straight forward. I expect this nodepool to be created with the name `nodepool-collect`. However,

[2022-09-19 16:46] bradkwadsworth-mw opened #460 "Use Access Tokens for Authentication"
### What problem are you facing?
In some GCP environments, the ability to create service account keys is disabled. Workload identity is an option, but that means the service account that is assigned to the pod needs all of the permissions for all of the required resources.

### How could Crossplane help solve your problem?
Another option for authenticating to GCP is to use temporary access tokens.

[2022-09-19 21:35] jesumyip commented on #459
I did try both `metadata.name `and `crossplane.io/external-name`. Both did not work.

[code]

I even tried doing the same for all my resources defined in the array of `resources` and it didn't work too. For example, I did:

[code]
and

[code]
and

[code]
which all resulted in:

[code]

[2022-09-19 21:43] jesumyip commented on #459
For the record, I am using:

[code]

[2022-09-19 22:46] jesumyip commented on #459
Note: Here's a simplified test I used to reproduce the issue.

Composition:
[code]

Claim:
[code]

XRD:
[code]

The VPC cloud resource name created is consistently:

<claim-name>-<5 random chars>-<5 random chars>.

[code]

[2022-09-20 14:50] Feggah commented on #459
By the results of your tests, I think Crossplane will always override the metadata.name specified in the `base` object of the Composition. And this would make sense.

Lets try to understand a real use case:

Users can create `ClusterClaimDamaCollectGKE` XRCs. Each XRC will have a different name, for example: `myclaim-1` and `myclaim-2`.

If in the `ClusterClaimDamaCollectGKE` Composition you are d

[2022-09-21 01:46] jesumyip commented on #459
I understand what you are saying but I disagree with the reasoning i.e.

"_If in the ClusterClaimDamaCollectGKE Composition you are defining a default metadata.name for your resources (in the base object), myclaim-1 and myclaim-2 would try to manage the same Managed Resources. (and that's a problem)._"

If that were true, why would there be this?
<img width="691" alt="image" src="https://user-imag

[2022-09-22 07:45] jesumyip commented on #435
Is there a fix for this?

[2022-09-22 07:55] aaronschweig commented on #435
Unfortunately not. As a workaround I made sure to change my deletion policy to rentain and deleted the NodePool Ressource after everything was created. This is obviously failing to achieve the benefit of having it as a CRD so I would be happy to see if this issue could be resolved somehow. I also didn't try again with newer version of crossplane, but it might still be the case that the described b

[2022-09-27 03:48] zaroman opened #462 "Support specifying cluster autoscaling profile"
### What problem are you facing?

We are tying to specify a cluster's autoscaling profile on cluster creation. The field needed for this is currently not exposed in your CRDs:

https://cloud.google.com/kubernetes-engine/docs/reference/rest/v1/projects.locations.clusters#autoscalingprofile

### How could Crossplane help solve your problem?

Expose the necessary field to allow specifying a cluster's

[2022-09-27 20:53] hkhsap opened #463 "To support TLS enablement in GCP during provisioning"
### What problem are you facing?

### How could Crossplane help solve your problem?

[2022-09-27 20:54] hkhsap commented on #463
to provide feature to enable TLS over CrossPlane during provisioning (1) GCP redis.
API is avaible only in version 0.2.0.

ref.:
(1) https://cloud.google.com/memorystore/docs/redis/in-transit-encryption
(2) https://doc.crds.dev/github.com/crossplane-contrib/provider-jet-gcp/redis.gcp.jet.crossplane.io/Instance/v1alpha1@v0.2.0-preview (ed

[2022-09-28 16:56] jensentanlo opened #464 "Add DNSConfig support for GKE Clusters"
### What problem are you facing?
Currently this field is not exposed in the cluster spec.
When I pulled the repo, I noticed that the gcp go client version is quite old and is missing this field, so we'd need to upgrade the client but it's there in the newer versions of the client.

Relevant REST doc for the field:
https://cloud.google.com/kubernetes-engine/docs/reference/rest/v1/projects.locations

[2022-09-28 17:54] jensentanlo commented on #464
Just a note but I'll be tackling this (if this feature is okay to add)

[2022-09-28 18:37] #429 closed

[2022-09-28 18:42] #425 closed

[2022-09-28 18:47] Feggah commented on #464
Thanks for raising this issue, @jensentanlo!

Go for it 🙂 feel free to ask for my review when you open the PR

[2022-10-03 20:38] Feggah opened #468 "Release v0.22.0"
# Release v0.22.0

This is a tracking issue for the release `v0.22.0`.

I would love to include in this release the following PRs:
- https://github.com/crossplane-contrib/provider-gcp/pull/461
- https://github.com/crossplane-contrib/provider-gcp/pull/457
- https://github.com/crossplane-contrib/provider-gcp/pull/440
- https://github.com/crossplane-contrib/provider-gcp/pull/467

They are almost read

[2022-10-03 20:39] Feggah commented on #468
I never did a release in provider-gcp before, maybe @hasheddan or @turkenh can help me defining all steps necessary to consider the `v0.22.0` release done? 🙂

[2022-10-03 20:41] hasheddan commented on #468
@Feggah happy help out here :)

[2022-10-04 14:15] POD666 opened #469 "Missing bigqueryConfig for pubsub subscriptions"
### What problem are you facing?

I want to provision a subscription with bigquery type but it seems to be missing.

### How could Crossplane help solve your problem?

Add missing configs. I have manually configured a subscription this way:
[code]

[2022-10-04 17:08] Feggah commented on #468
Thanks @hasheddan!

I didn't see any issue in the past that were tracking the release of this provider. Do you know the process in the top of your mind? If so, could you edit the issue description and fill the "Steps needed for the release" subsection?

[2022-10-05 22:46] Feggah commented on #469
Hey @POD666, unfortunately, we already have two WIP PRs that are solving this issue.

- https://github.com/crossplane-contrib/provider-gcp/pull/467
- https://github.com/crossplane-contrib/provider-gcp/pull/470

I want to merge any of them ASAP to avoid this duplication of efforts and solve this problem.

[2022-10-06 10:59] fcrespofastly opened #473 "Cannot delete CloudSqlInstance when there's a failover replica"
### What happened?

When deleting a `CloudSQLInstance` object with `.spec.deletionPolicy: delete` and a non empty `.spec.failoverReplica`, the external resource doesn't get deleted with the error:

[code]

This means that the failover replica has to be deleted first, and indeed if I do it myself, then both the managed and external resource get deleted.

And as far as I've seen in the code, the gcp

[2022-10-06 10:59] fcrespofastly commented on #473
Like I mentioned there happy to work on a PR if needed

[2022-10-06 11:39] POD666 commented on #469
Oh, great. So the moment one of them is merged, I could rebase and proceed with bigqueryConfig.

[2022-10-06 22:55] #464 closed

[2022-10-07 00:33] Feggah commented on #469
The #470 has been merged today. I think you can rebase and proceed now 🙂

[2022-10-08 12:40] hasheddan commented on #468
@Feggah the general release process follows the same as Crossplane as defined in https://crossplane.io/docs/v1.9/contributing/release-process/. Happy to help run this on Monday -- what are the status of the PRs you linked / are they hard blockers?

[2022-10-10 13:09] Feggah commented on #468
@hasheddan Got it. They are not hard blockers, just something nice to have in the release. They are all reviewed and waiting for some requested changes.

The PR #440 is just waiting an approval and merge, I solved the requested issues and it is waiting for the second review. Can you have a look?

I believe we can proceed without the rest because I don't know how much time contributors will need to

[2022-10-10 16:52] #422 closed

[2022-10-11 08:32] anilnokia commented on #430
I am just trying example of creating gke cluster from:
https://github.com/crossplane/provider-gcp/blob/master/examples/gke/gke.yaml

but it keep giving me permission problem. Do I need to do something before I create cluster?
  Message:               observe failed: cannot get GKE cluster: googleapi: Error 403: Required "container.clusters.get" permission(s) for "projects/astral-field-348017/zones

[2022-10-12 08:02] adamwalach opened #477 "Updating labels on GKE fails with "fingerprint mismatch""
### What happened?

I am trying to update labels (resourceLabels property) on gke cluster and I get following error:
[code]
I've searched for similar issues, but the only one I can find is in terraform provider repo - https://github.com/hashicorp/terraform-provider-google/issues/5608

### How can we reproduce it?

Create a cluster, set labels in CR, synchronisation process will fail with the error

[2022-10-12 16:12] #468 closed, assigned to nobody

[2022-10-16 10:27] mastersingh24 commented on #477
Could you post your resource spec?

[2022-10-17 18:53] Thakurvaibhav opened #479 "Unable to upgrade GKE cluster"
### What happened?
Unable to upgrade from GKE 1.22 to 1.23
The cluster version was set using `initialClusterVersion: "1.22"` and `releaseChannel.channel: "STABLE"`
As the next step, I updated the field to `initialClusterVersion: "1.22"` but the GKE cluster does not seem to get the upgrade. I don't see any helpful logs in the crossplane gcp provider pod either.

### How can we reproduce it?
Provisi

[2022-10-17 19:00] charleshartiii commented on #415
I am able to reproduce this issue.  This issue blocks us from using the crossplane helm provider to install charts to newly created GKE clusters.

[2022-10-19 23:22] Feggah commented on #479
Hey @Thakurvaibhav, thanks for raising this issue!

This field is only used in the creation time. `initialClusterVersion` is immutable (modifying it won't update the external resource). I don't think you can upgrade the master version using the provider.

[2022-10-20 17:33] Thakurvaibhav commented on #479
Hi @Feggah
Thank you for the response. What is the recommended way to upgrade clusters?

[2022-10-20 21:59] Feggah commented on #479
I don't have an answer for this using Crossplane, lack of my experience with using the Managed Resource 😢

But the master version is upgraded automatically by the GCP based on the [releaseChannel](https://doc.crds.dev/github.com/crossplane-contrib/provider-gcp/container.gcp.crossplane.io/Cluster/v1beta2@v0.22.0#spec-forProvider-releaseChannel-channel) that you chose.

You can also upgrade the vers

[2022-10-20 22:08] Feggah commented on #445
Hey @nataliyalevytska, thanks for raising this issue!

I believe that is because of misconfigured GCP credentials in your ProviderConfig. Have you fixed the error?

[2022-10-20 22:14] Feggah commented on #451
Hey @Erez-Levi, I believe that it is not yet supported in this provider. Have you tried using [provider-jet-gcp](https://github.com/crossplane-contrib/provider-jet-gcp)?

[2022-10-20 22:17] Feggah commented on #415
Hey @charleshartiii and @RoryDoherty, can you try to use the same configuration that is used in [this example](https://github.com/upbound/platform-ref-gcp/blob/8047728683452659ddc9b50e932f734b8e70404e/package/cluster/gke/composition.yaml#L167-L180) and see if this works for you?

[2022-10-24 13:05] charleshartiii commented on #415
@Feggah thank you! yes that example worked for us!  appreciate pointing me in the right direction.

[2022-10-24 13:45] Feggah commented on #415
Sure! Closing this issue because the example above should solve this problem. Feel free to comment again here if needed 🙂

[2022-10-24 13:45] #415 closed

[2022-10-25 18:37] AtitShetty commented on #477
We are facing the same issue.

[2022-10-25 20:13] charleshartiii opened #480 "Importing GKE cluster with a maintenance policy enabled causes provider-gcp pod to crash"
### What happened?
When we tried to "import" an existing GKE cluster that has a maintenance policy enabled (ours was enabled for weekly on Sat & Sun) the cluster never syncs and it causes the provider-gcp pod to crash with errors.  Note:  By the way I verified my gcp provider is configured correctly by creating a new cluster via crossplane.

Below is output from `kubectl logs` of provider-gcp pod:

[2022-10-25 20:19] charleshartiii commented on #479
Just noting this is a requirement for us to be able to adopt crossplane.  Our org does not use the release channels, rather we need to directly specify the cluster version.  We would like to be able to update our GKE versions through crossplane .

[2022-10-26 09:12] liubog2008 opened #481 "Support network peering"
### What problem are you facing?

### How could Crossplane help solve your problem?

[2022-10-27 09:32] #460 closed

[2022-11-10 15:55] pschmidbauer commented on #454
Happens for us, too. Constant update leads to 400 error messages per 5 minutes and makes it impossible to actually maintain the database in a stable way.

[2022-11-10 16:15] CalinFlorescu commented on #454
I've encountered the same issue when working with this. I'm using the full URI for the private network, so it can't be that. I've tried to look through GCP logs to find out what the differences are between the two instance versions (the existing one and the one on which crossplane detects a change), and the only things that I found are these arguments:

`connection_mode: ALLOW_ALL - is going to be

[2022-11-18 14:12] insider89 commented on #454
The same issue is on the same provider version. We thought it was related failover replica, but looks like no. Any idea?

[2022-11-18 14:13] CarpathianUA commented on #454
I am experiencing the same. Deletion of CloudSQLInstance object and recreation of it solve the issue, but the initial behaviour happens to us randomly

[2022-11-22 19:10] ndlanier commented on #445
I am having this issue and have validated that my gcp credentials are formatted correctly in the secret

[2022-11-22 20:52] ndlanier commented on #445
I'm experiencing this as well and can validate that my credentials are correct. Would the error output if the service account doesn't have the correct permissions for the project in gcp?

[2022-11-23 15:40] ndlanier commented on #300
Has there been any progress on this?